body {
}
.content-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.no-padding {
  padding: 0;
}
/* header styles*/
.navbar-inverse {
  background: #4C8293; /*#397ab2;*/
  border-color: #4C8293; /*#397ab2;*/
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.logo {
  float: left;
  margin-right: 15px;
  width: 25px;
}
.title-hightlight {
  color: #cfe7fb;
}
.navbar-right {
  background: #eceff4;
  border: 1px solid #cad3df;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 8px;
}
.navbar-left {
  background: #eceff4;
  border: 1px solid #cad3df;
  border-radius: 4px;
}
.dropdown-toggle {
  color: #4d799d;
}
.nav>li>a {
  padding:6px 10px;
}
.export-items li {
  padding: 0 14px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.export-icon {
  float: left;
  margin-right: 7px;
  margin-top: 2px;
  width: 18px;
  height: 18px;
}
.export-btn-arrow {
  margin-left: 20px;
}
.sidebar {
  bottom: 0;
  height: 95%;
  overflow: auto;
  padding: 20px;
  position: fixed;
  top: 51px;
  width: 380px;
  z-index: 2;
  background-color: #ffffff;
}
.map-wrapper {
  background: #accfff;
  float: right;
  bottom: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.zoom-level-nav {
  position: absolute;
  left: 420px;
  margin-top: 10px;
  z-index: 3;
}
.zoom-level {
  width: 100%;
}
.zoom-level button {
  background: #f1f1f1;
  border-radius: 4px;
  color: #bbbbbb;
  margin-right: 3px;
  text-align: left;
  display: block;
  min-width: 180px;
}
.zoom-level button:hover {
  background: ##4C8293; /*#397ab0*/;
  color: #ffffff;
}
.zoom-level button.btn-active {
  background: #4C8293; /*#397ab0*/;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.zoom-level .button-label {
  font-size: 12px;
  margin-left: 5px;
}
.zoom-level button.btn-active .button-label {
  display: inline-block;
}
.btn-metric {
  background-color: #B0DED3; 
  color:black; 
  border-color:#4C8293
}
.indicators-panels .card-header{
  background: #f3f3f3;
  border-bottom: none;
  border-left: 1px solid #e6eaee;
  border-right: 1px solid #e6eaee;
  border-top: 1px solid #e6eaee;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}
.indicators-panels .card-block {
  border-bottom: none;
  border-left: 1px solid #e6eaee;
  border-right: 1px solid #e6eaee;
  border-top: none;
  padding: 10px;
}
.panel-header-icon {
  background: #e8eaf1;
  display: block;
  float: left;
  margin-right: 12px;
  padding: 10px;
}
.panel-header-icon img {
  width: 20px;
}
.panel-header-content{
  display: inline-block;
  width: 80%;
}
.panel-header-content:hover {
  cursor: pointer;
}
.panel-header-title {
  color: #000000;
  font-weight: bold;
  display: block;
}
.panel-header-description {
  color: #b5b5b5;
  display: block;
  font-size: 12px;
  font-style: italic;
}
.score {
  font-weight: bold;
}
.component-section {
  overflow: hidden;
  padding: 5px 0;
}
.component-section:hover {
  background: #f3f3f3;
  border-radius: 5px;
}
.component-label {
  font-size: 11px;
  line-height: 13px;
  padding: 0;
}

.component-label,
.general-component-label:hover {
 cursor:pointer;
}

.component-scale {
  background: #e2e7ee;
  border-radius: 5px;
  height: 12px;
  margin-top: 10px;
  position: relative;
  margin-left: 10%;
  width: 100%;
}

.score-bar {
  border-radius: 5px;
  height: 12px;
  margin-left: 0%;
  margin-top: 10px;
  position: relative;
}

.score-bar.good {
  background: #1a9641;
}
.score-bar.medium-good {
  background: #a6d96a;
}
.score-bar.medium {
  background: #f1d121;
}
.score-bar.medium-bad {
  background: #fd6161;
}
.score-bar.bad {
  background: #d7191c;
}

.component-score.good {
  color: #1a9641;
}
.component-score.medium-good {
  color: #a6d96a;
}
.component-score.medium {
  color: #f1d121;
}
.component-score.medium-bad {
  color: #fd6161;
}
.component-score.bad {
  color: #d7191c;
}
.component-score.notavailable {
  color: #cccccc;
}

.component-score {
	font-weight: bold;
}
.scale-icon {
  background: #4C8293; /*#397ab0*/;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: -7px;
  width: 25px;
  border: 3px solid #ffffff;
}

/*community profiles*/
.community-profiles-wrapper {
  background: #B0DED3; /*#f3faff;*/
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
}
.community-title {
  color: #1d2531;
  font-size: 16px;
  font-weight: bold;
}
.total-count{
  color: #444444;
  font-size: 20px;
}
.filter-count {
  color: #3780bb;
  font-size: 20px;
}
.total-count-pi{
  color: #4C8293; /*#3780bb;*/
  font-size: 14px;
  font-weight: bold;
}
.filter-count-pi{
  color: #444444;
  font-size: 14px;
  font-weight: bold;
}
.score-helptext {
  font-size: 11px;
}
.profile-item {
  border-radius: 3px;
  color: #354052;
  font-size: 12px;
  font-weight: bold;
  margin-left: -5px;
  margin-right: -5px;
  padding: 7px;
}
.profile-item:hover {
  background: #4C8293;
  color: #ffffff;
}
.profile-item .col {
  padding: 0;
}
.community-icon {
  width: 17px;
  height: 17px;
}
.btn-modal {
  background: none;
  border: none;
  float: right;
  margin-top: 8px;
  opacity: 1;
  padding: 0;
  width: 20px;
}
.btn-modal:hover {
  opacity: 0.75;
}
.modal-dialog {
  width: 500px;
  z-index: 2;
}
.modal-backdrop {
  z-index: 2;
}
.sidebar-modal .modal-header {
  background: #269df9;
  color: #ffffff;
}
.sidebar-modal .close {
  opacity: 1;
  color: #ffffff;
  text-shadow: none;
}
.sidebar-modal h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}
.sidebar-modal p {
  margin-bottom: 15px;
}

.map-popup {
  background: #215784;
  border-radius: 4px;
  color: #ffffff;
  padding: 15px;
  width: 200px;
  visibility: hidden;
}
.map-popup .popup-header {
  color: #daeaf7;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.map-popup .popup-score {
  font-size: 35px;
  text-transform: uppercase;
}
.map-popup .popup-score .score-unit {
  font-size: 20px;
  text-transform: lowercase;
}
.map-popup .score-label {
  color: #daeaf7;
  font-size: 11px;
}

/* slide out tabs */
.slide-out-tab-province,
.slide-out-tab-legend {
  background: #ffffff;
  margin-left: 380px;
  min-height: 250px;
}
.slide-out-tab-province {
  height: 500px;
}
.slide-out-tab-province.open,
.slide-out-tab-legend.open {
  z-index: 4;
}

.handle, .handle-legend {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #eeeeee;
  color: #bbbbbb;
  height: 150px;
  width: 35px;
  z-index: 3;
}

a.handle:hover {
  color: #4C8293; /*#397ab0;*/
  text-decoration: none;
}
.handle-label {
  display: inline-block;
  font-size: 13px;
  margin-left: 4px;
  margin-top: 26px;
  white-space: nowrap;
  width: 30px;

  /*styles below are for text rotation*/
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.slide-out-tab-legend .handle-label {
  margin-top: 60px;
}
.slideout-content-wrapper {
  color: #888888;
  padding: 20px;
  width: 250px;
}
.slideout-content-wrapper h4{
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 20px;
}
.selected-projects {
  border-left: 1px solid #bbbbbb;
  color: #888888;
  font-size: 10px;
  margin-left: 5px;
  padding-left: 5px;
}
.options-list label{
  font-size: 12px;
  font-weight: normal;
}
.options-list .list-label {
  margin-left: 5px;
}
.options-list ul,
.select-options{
  list-style: none;
  padding-left: 0;
}
.select-options label {
  font-weight: normal;
}
.select-options {
  display: block;
  padding-bottom: 25px;
}
.select-options li {
  float: left;
  font-size: 12px;
  margin-right: 15px;
}
.select-options input[type=radio] {
  height: 15px;
  width: 15px;
}




/* responsive styles */
@media only screen and (max-width: 768px) {
  .sidebar {
    padding: 10px;
    position: fixed;
    top: 51px;
    width: 250px;
  }
  .component-scale {
    margin-left: 5px;
  }
  .slide-out-tab-province,
  .slide-out-tab-legend {
    left: -380px !important;
  }
  .slide-out-tab-province.open,
  .slide-out-tab-legend.open {
    left: -130px !important;
  }
  .zoom-level-nav {
    left: 290px;
    width: 60%;
  }
  .zoom-level .button-label {
    font-size: 10px;
  }
  .btn-secondary {
    display: block;
    text-align: center;
  }
  .btn-secondary i {
    display: none;
  }
}

/* mobile message */
.mobile-message {
  display: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .map-wrapper,
  .sidebar,
  .navbar-right {
    display: none;
  }
  .mobile-message {
    background: #0f4882;
    bottom: 0;
    color: #ffffff;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
  .mobile-message p {
    font-size: 25px;
    padding: 20px;
    position: absolute;
    top: 100px;
  }
  .mobile-message .link-button {
    margin-top: 30px;
    padding: 10px;
  }
}


/* Own CSS Jannis */


/*Give the second column of all data tables a fixed width so that the third column starts at a fixed position */
/* .table-dashboard > thead > tr > th:nth-child(2),
.table-dashboard > tbody > tr > th:nth-child(2),
.table-dashboard > tfoot > tr > th:nth-child(2),
.table-dashboard > thead > tr > td:nth-child(2),
.table-dashboard > tbody > tr > td:nth-child(2),
.table-dashboard > tfoot > tr > td:nth-child(2) {
  width: 150px;
} */

/* Make sure the colored polygons in the map are transparent, so you can see OSM information through it */
.leaflet-clickable {
	fill-opacity: .6;
}
.leaflet-zoom-animated {
	fill-opacity: .6;
}

.leaflet-control-zoom {
	left: 380px;
	top: 90%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 34px;
  height: 34px;
}

.hdx-3w-info {
	padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.dc-chart g.row text {
    fill: black;
}

.big-icon {
    font-size: 24px;
}
.reset-button,
.reset-button:visited{
	visibility:hidden;
	background-color: #4C8293; /*#3780bb;*/
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding: 2px 10px 2px 10px;
    border-radius: 5px;	
}
.reset-button:hover,
.reset-button:focus{
	visibility:hidden;
	background-color: #045a8d;
	color: white;
	text-decoration: none;
}

/* Collapsible sidebar */

body {
    background: none repeat scroll 0 0 white;
}
.sidebar-menu-collapsed {
    width: 75px;
}
.sidebar-menu-expanded {
    width: 380px;
}
}

