.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

#where-chart{
    height:360px;
    width:100%;
}

#wheretitle{
    padding-bottom:10px;
}

#header{
    padding-bottom:0px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
}

.colheight{
    height:450px;
}

.removepadding {
    padding-right:0px;
    padding-left:0px;
}
    
 .where-chart {
    width:100%;
 }
 
 .where-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }
 
.hdx-3w-info {
	padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.general-info {
	padding:5px;
    background-color:#E6E6FA;
    background: #bdc9e1; /*rgba(255,255,255,0.8);*/
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
	width:500px;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 34px;
  height: 34px;
}

.carousel-indicators {
    left: 75%;
    width: 40%;
}

/*Give the second column of all data tables a fixed width so that the third column starts at a fixed position */
.table-dashboard > thead > tr > th:nth-child(2),
.table-dashboard > tbody > tr > th:nth-child(2),
.table-dashboard > tfoot > tr > th:nth-child(2),
.table-dashboard > thead > tr > td:nth-child(2),
.table-dashboard > tbody > tr > td:nth-child(2),
.table-dashboard > tfoot > tr > td:nth-child(2) {
  width: 200px;
}

/*Make sure the a-elements (such as: level_up) get a pointer-cursor when hovered */
a:hover, #flag1:hover, #flag2:hover {
 cursor:pointer;
}


a.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
a.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#flag1, #flag2, #flag3 { 
  width: 180px; height: 30px; position: relative;
  margin-left: 10px;
  color: white;
  line-height: 30px;
  text-align: center;
}
#flag1 {
  background: #2b8cbe;
  margin-left: 0px;
}
#flag2 {
  left: 190px;
  top: -30px;
  background: #74a9cf;
  margin-left: 10px;
}
#flag3 {
  left: 390px;
  top: -60px;
  background: #bdc9e1;
  margin-left: 10px;
}

#flag2:before,#flag3:before { 
  content: ""; 
  position: absolute; 
  top: 0; 
  left: -15px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;

}
#flag2:before {
  border-top: 15px solid #74a9cf; 
  border-bottom: 15px solid #74a9cf; 
}
#flag3:before {
  border-top: 15px solid #bdc9e1; 
  border-bottom: 15px solid #bdc9e1; 
}

#flag1:after,#flag2:after,#flag3:after { 
  content: ""; 
  position: absolute; 
  left: 180px; 
  bottom: 0; 
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;

  border-bottom: 15px solid transparent;

  border-left: 15px solid #2b8cbe;
}
#flag2:after {
  border-left: 15px solid #74a9cf;
}
#flag3:after {
  border-left: 15px solid #bdc9e1;
}











