a {
  color: #4c8293;
}

#header {
  display: inline-block;
  position: absolute;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 51px solid transparent; /* Space for .navbar-fixed-top */
  overflow: hidden;
}

.sidebar-wrapper {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 0;
  bottom: 0;
  width: 380px;
  overflow: auto;
  padding: 20px;
  background-color: #f3eee3;
}

.sidebar-wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidebar-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebar-wrapper::-webkit-scrollbar-thumb {
  background: #4c8293;
}

/* Handle on hover */
.sidebar-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 767px) {
  .sidebar-wrapper {
    width: 100%;
  }
  .sidebar-wrapper.collapse.in.mobile {
    display: none;
  }
  .sidebar-wrapper.mobile.collapse {
    display: block;
    height: 80% !important;
    height: calc(100% - 210px) !important;
    z-index: 4;
  }
}
@media only screen and (max-width: 414px) {
  .sidebar-wrapper {
    padding: 7px;
  }
}
.map-wrapper {
  background: #ffffff;
  float: right;
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .map-wrapper {
    top: 190px;
    height: 80%;
    height: calc(100% - 190px);
  }
}
.zoom-level-nav-wrapper {
  width: 380px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .zoom-level-nav-wrapper {
    margin-top: -12px;
    width: 100%;
  }
}
.zoom-level-nav {
  border: 3px solid #ffffff;
  border-top: none;
  border-right: none;
  padding: 0 5px 5px 5px;
  position: relative;
  background: #ffffff;
  margin-top: -5px;
  z-index: 3;
}
@media only screen and (max-width: 767px) {
  .zoom-level-nav {
    border-left: none;
    margin-top: 11px;
  }
}
.zoom-level-nav.map-views {
  z-index: 5;
}
.zoom-level-nav.sort-nav {
  border: none;
  background: none;
  float: left;
  margin-left: 385px;
  width: 250;
}
.zoom-level-nav.sort-nav .dropdown-toggle {
  background: none;
  color: #4c8293;
  font-size: 14px;
  margin-top: -5px;
  text-decoration: none;
}
.btn-scroll {
  margin-top: 6px;
}
@media only screen and (max-width: 767px) {
  .zoom-level-nav.sort-nav .dropdown-toggle {
    float: left;
    margin-left: 12px;
    margin-top: -12px;
  }
  .zoom-level-nav.sort-nav .dropdown-toggle .fa {
    margin-top: 10px;
  }
  .btn-scroll {
    margin-top: -5px;
  }
}
.zoom-level.view-buttons button {
  cursor: pointer;
}
.zoom-level button {
  cursor: default;
}
.zoom-level button.btn-active {
  background: #4c8293;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  width: 33.5%;
}
@media only screen and (max-width: 767px) {
  .zoom-level button.btn-active {
    line-height: 100%;
  }
  .zoom-level-nav.sort-nav {
    position: absolute;
    margin-left: 0;
    left: 0;
    top: 0;
    z-index: 3;
  }
  .zoom-level .dropdown-toggle {
    height: 25px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 414px) {
  .zoom-level-nav.sort-nav {
    position: relative;
    left: 0;
    margin-left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
  }
}
.zoom-level {
  margin-top: 5px;
  width: 100%;
}
.zoom-level button {
  border-radius: 0;
  color: #bbbbbb;
  text-align: left;
  font-size: 12px;
  display: block;
  width: 33.333333%; /*106px;*/
  height: 34px;
}
@media only screen and (max-width: 767px) {
  .zoom-level button {
    height: 28px;
    line-height: 0;
  }
}
.zoom-level button.btn-tab {
  background: #d9dcdc;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.btn-tab.btn-map-view {
  float: left;
  margin-right: 6px;
  width: 43%;
}
.btn-tab.btn-map-view:hover,
.btn-tab.btn-map-view.active {
  background: #4c8293;
  color: #ffffff;
}

.btn-tab.btn-map-view .btn-label {
  color: #4c8293;
}

@media only screen and (max-width: 767px) {
  .zoom-level button.btn-tab {
    text-align: center;
    font-size: 10px;
  }
  .btn-tab.btn-map-view {
    font-size: 10px;
    margin-right: 1%;
    text-align: center;
    width: 42%;
  }
}
.btn-tab.btn-tabular {
  color: #4c8293;
  float: left;
  margin-right: 4px;
  width: 43%;
}
.btn-tab.btn-tabular:hover,
.btn-tab.btn-tabular.active {
  background: #4c8293;
  color: #ffffff;
}
.btn-tab.btn-tabular .btn-label {
  color: #4c8293;
}
@media only screen and (max-width: 767px) {
  .btn-tab.btn-tabular {
    font-size: 10px;
    margin-right: 1%;
    text-align: center;
    width: 42%;
  }
}
.metric_label {
  overflow: hidden;
  text-transform: uppercase;
}
.zoom-level .button-label {
  font-size: 12px;
}
@media only screen and (max-width: 767px) {
  .zoom-level .button-label {
    font-size: 10px;
  }
}
.zoom-level button.btn-active .button-label {
  display: inline-block;
}
.zoom-level button.active {
  background-color: #f3f3f3;
}
.btn-metric {
  background-color: #b0ded3;
  color: black;
  border-color: #4c8293;
}
.indicators-panels .card-header {
  background: #f3f3f3;
  border-bottom: none;
  border-left: 1px solid #e6eaee;
  border-right: 1px solid #e6eaee;
  border-top: 1px solid #e6eaee;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}
/* start: new styles */
.card-header.last {
  background: #dddddd;
}
.dpi-card-highlight {
  border: 2px solid red;
}
.indicators-panels .card-header:hover .panel-header-description,
.indicators-panels .card-header:hover .panel-header-title,
.card-header.last:hover .panel-header-description,
.card-header.last:hover .panel-header-title {
  color: #ffffff;
}
.card-header.last:hover .component-score.good {
  color: #4dce71;
}
/* end: new styles */
.indicators-panels .card-block {
  border-bottom: none;
  background-color: #fff;
  border-top: none;
  padding: 10px;
}
.panel-header-icon {
  background: #e8eaf1;
  display: block;
  float: left;
  margin-right: 12px;
  padding: 10px;
}
.panel-header-icon img {
  width: 20px;
}
.panel-header-content {
  display: inline-block;
  width: 80%;
}
.panel-header-content:hover {
  cursor: pointer;
}
.panel-header-title {
  color: #000000;
  font-weight: bold;
  display: block;
}
.panel-header-description {
  color: #7a7a7a;
  display: block;
  font-size: 12px;
  font-style: italic;
}
.score {
  font-weight: bold;
}
.component-section {
  overflow: hidden;
  padding: 5px 0;
}
.component-section:hover {
  background: #4c8293;
  color: #ffffff;
}
.component-label {
  font-size: 11px;
  line-height: 13px;
  padding: 0;
}

.component-label,
.general-component-label:hover {
  cursor: pointer;
}

/* start: new styles */
.card-header.last .card-header:hover {
  background: #4c8293;
}

.indicators-panels .card-header:hover,
.card-header.last:hover {
  background: #4c8293;
}

/* remove hover effect on specific sections */
#collapseZero .component-section:hover {
  background: #ffffff;
}
#collapseZero .component-section:hover .component-label {
  color: #000000;
}

#collapseZero .component-section:hover img {
  filter: brightness(100%);
}
#collapseZero .component-section,
#collapseZero .component-score,
#collapseZero .component-label {
  cursor: default;
}
.component-scale {
  background: #e2e7ee;
  border-radius: 5px;
  height: 12px;
  margin-top: -5px;
  position: relative;
  margin-left: 10%;
  width: 100%;
}

.score-bar {
  border-radius: 5px;
  height: 12px;
  margin-left: 0;
  margin-top: 10px;
  position: relative;
}

.score-bar.good {
  background: #1a9641;
}
.score-bar.medium-good {
  background: #a6d96a;
}
.score-bar.medium {
  background: #f1d121;
}
.score-bar.medium-bad {
  background: #fd6161;
}
.score-bar.bad {
  background: #d7191c;
}
.score-bar.notavailable {
  color: #e2e7ee;
}

.component-score.good {
  color: #1a9641;
}
.component-score.medium-good {
  color: #a6d96a;
}
.component-score.medium {
  color: #f1d121;
}
.component-score.medium-bad {
  color: #fd6161;
}
.component-score.bad {
  color: #d7191c;
}
.component-score.notavailable {
  color: #cccccc;
}

.component-score {
  font-weight: bold;
}
.scale-icon {
  background: #4c8293;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: -7px;
  width: 25px;
  border: 3px solid #ffffff;
}

/*community profiles*/
.community-profiles-wrapper {
  background: #fff;
  border-radius: 2px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
}
.community-title {
  color: #1d2531;
  font-size: 16px;
  font-weight: bold;
}
.general-info {
  margin-top: -3px;
}
@media only screen and (max-width: 767px) {
  .general-info {
    margin-top: 0;
  }
}

.score-helptext {
  font-size: 11px;
}
.profile-item {
  color: #354052;
  font-size: 12px;
  font-weight: bold;
  margin-left: -5px;
  margin-right: -5px;
  padding: 7px;
}
.profile-item:hover {
  background: #4c8293;
  color: #ffffff;
}
.profile-item:hover img {
  filter: brightness(900%);
}
.profile-item .col {
  padding: 0;
}
.community-icon {
  width: 17px;
  height: 17px;
}
.btn-modal {
  background: none;
  border: none;
  float: right;
  margin-top: 0;
  margin-right: 3px;
  opacity: 1;
  padding: 0;
  width: 20px;
}
.btn-modal:hover {
  opacity: 0.75;
}

.map-popup {
  background: #4c8293;
  border-radius: 4px;
  color: #ffffff;
  padding: 15px;
  width: 230px;
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .map-popup {
    width: 180px;
  }
}
.map-popup .popup-header {
  color: #daeaf7;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.map-popup .popup-score {
  font-size: 35px;
  text-transform: uppercase;
}
.map-popup .popup-score .score-unit {
  font-size: 20px;
  text-transform: lowercase;
}
.map-popup .score-label {
  color: #daeaf7;
  font-size: 11px;
}

/* Make sure the colored polygons in the map are transparent, so you can see OSM information through it */
.map-wrapper .leaflet-interactive {
  fill-opacity: 0.6;
  stroke-width: 0.5;
}
.map-wrapper .leaflet-zoom-animated {
  fill-opacity: 0.6;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 34px;
  height: 34px;
}

.hdx-3w-info {
  padding: 5px;
  background-color: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media only screen and (max-width: 1024px) {
  .hdx-3w-info {
    display: none;
  }
}
.dc-chart g.row text {
  fill: black;
}
.dc-chart svg g g.axis {
  display: none;
}

.big-icon {
  font-size: 24px;
}
.reset-button,
.reset-button:visited {
  cursor: pointer;
  visibility: hidden;
  background-color: #4c8293;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  .reset-button,
  .reset-button:visited {
    font-size: 12px;
  }
}
.reset-button:hover,
.reset-button:focus,
.reset-button:active {
  visibility: hidden;
  background-color: #eeeeee;
  color: #4c8293;
  text-decoration: none;
}

/* CSS to indicate active/selected indicator */
.section-active {
  background: #4c8293;
  color: #ffffff;
  font-weight: bold;
}
.section-active img,
.component-section:hover img {
  filter: brightness(900%);
}

/* Collapsible sidebar */
.sidebar-menu-collapsed {
  width: 75px;
}
.sidebar-menu-expanded {
  width: 380px;
}

.collapse-button {
  background-color: #d9dcdc;
  border: 2px solid #d9dcdc;
  cursor: pointer;
  float: right;
  background-position: center center;
  background-repeat: no-repeat;
  height: 34px;
  padding: 10px;
  width: 13%;
}
@media only screen and (max-width: 767px) {
  .collapse-button {
    height: 28px;
  }
}
.collapse-button:hover {
  filter: brightness(95%);
}
.collapse-button[aria-expanded="true"] {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ImNvbGxhcHNlZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IgoJIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojNEM4MjkzO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTI1NS44LDIxMy42TDI1NS44LDIxMy42TDI1NS44LDIxMy42bC0xNzQsMTY3LjNjLTQuMyw0LjItMTEuNCw0LjEtMTUuOC0wLjJsLTMwLjYtMjkuOQoJYy00LjQtNC4zLTQuNS0xMS4zLTAuMi0xNS41TDI0Ny43LDEzMWMyLjItMi4yLDUuMi0zLjIsOC4xLTNjMy0wLjEsNS45LDAuOSw4LjEsM2wyMTIuNywyMDQuMWM0LjMsNC4yLDQuMiwxMS4yLTAuMiwxNS41CglsLTMwLjYsMjkuOWMtNC40LDQuMy0xMS41LDQuNC0xNS44LDAuMkwyNTUuOCwyMTMuNnoiLz4KPC9zdmc+Cg==");
}
.collapse-button.collapsed,
.collapse-button[aria-expanded="false"] {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJjb2xsYXBzZWRvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIKCSB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzRDODI5Mzt9Cjwvc3R5bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yNTYsMjk4LjRMMjU2LDI5OC40TDI1NiwyOTguNGwxNzQtMTY3LjNjNC4zLTQuMiwxMS40LTQuMSwxNS44LDAuMmwzMC42LDI5LjljNC40LDQuMyw0LjUsMTEuMywwLjIsMTUuNQoJTDI2NC4xLDM4MWMtMi4yLDIuMi01LjIsMy4yLTguMSwzYy0zLDAuMS01LjktMC45LTguMS0zTDM1LjIsMTc2LjljLTQuMy00LjItNC4yLTExLjIsMC4yLTE1LjVMNjYsMTMxLjVjNC40LTQuMywxMS41LTQuNCwxNS44LTAuMgoJTDI1NiwyOTguNHoiLz4KPC9zdmc+Cg==");
}
@media only screen and (max-width: 767px) {
  .collapse-button {
    width: 14%;
  }
}

.PIbuttons {
  width: 49%;
  padding: 0;
  border: 0;
}

.PI-button {
  display: block;
  padding: 8px 0;
  font-size: 12px;
  color: #ffffff;
  background: #4c8293;
}

.PI-button:hover,
.PI-button:focus,
.PI-button:active {
  color: #4c8293;
  background: #eeeeee;
  text-decoration: none;
}

.PI-button .fa {
  margin-left: 10px;
}

.export-button.models {
  padding-left: 38px;
}
.export-button {
  font-size: 14px !important;
}

#row-chart-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  #row-chart-container {
    width: 100%;
    height: 100%;
    height: calc(100% - 50px);
    background-color: #fff;
    visibility: hidden;
    z-index: 4;
    top: -15px;
  }
}
#row-chart {
  position: absolute;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: #fff;
  top: 12px;
}
@media only screen and (max-width: 767px) {
  #row-chart {
    top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .map-wrapper .leaflet-left .leaflet-control {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .export-btn-arrow {
    margin-top: 7px;
    float: right;
  }
}

.navbar-top-links,
.navbar-top-links2 li {
  background: #ffffff;
  cursor: pointer;
}
.navbar-top-links > li:hover > a {
  background-color: #4c8293;
  color: #ffffff;
  cursor: pointer;
}
.navbar-top-links2 > li > a {
  padding: 4px 8px;
  border: 2px solid transparent;
}
.navbar-top-links2 > li:hover > a {
  border: 2px solid red;
  color: #ffffff;
  cursor: pointer;
}

.tabular-wrapper {
  bottom: 0;
  left: -10px;
  top: 40px;
  overflow-y: auto;
  position: absolute;
  margin-left: 380px;
  width: 80%;
  width: -webkit-calc(100% - 370px);
  width: -moz-calc(100% - 370px);
  width: calc(100% - 370px);
}
.tabular-wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tabular-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tabular-wrapper::-webkit-scrollbar-thumb {
  background: #4c8293;
}

/* Handle on hover */
.tabular-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media only screen and (max-width: 767px) {
  .tabular-wrapper {
    overflow: auto;
    position: relative;
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 414px) {
  .tabular-wrapper {
    left: -10px;
    top: 0;
    overflow: auto;
    width: 100%;
  }
  .tabular {
    left: auto;
    margin-left: 0;
    margin-top: -10px;
    width: 100%;
    position: relative;
  }
}

#type_selector {
  width: 49%;
  margin-right: 2%;
}
#event_selector {
  width: 49%;
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  #type_selector {
    width: 48%;
    margin-right: 2%;
  }
  #event_selector {
    width: 48%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .map-wrapper .leaflet-top.leaflet-right {
    top: auto;
    bottom: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .map-wrapper .leaflet-control-container {
    position: absolute;
  }
  .map-wrapper .info.legend.leaflet-control {
    position: fixed;
    bottom: 8%;
    right: 0;
    width: 120px;
    z-index: 3;
  }
}

div.dc-chart {
  width: 100%;
}

/* cursor for data toggles to work on  */
[data-toggle~="collapse"] {
  cursor: pointer;
}

/* start: new styles */
.btn.btn-secondary.btn-zoomin {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #000000;
  height: 34px;
  margin-left: 2px;
  width: 32.6%;
}
.btn.btn-secondary.btn-active.btn-zoomin {
  background-color: #4c8293;
  border-color: #4c8293;
  color: #ffffff;
  margin-left: 2px;
  width: 32.6%;
}
.btn.btn-secondary.btn-zoomin:hover {
  cursor: pointer;
  background-color: #4c8293;
  border-color: #4c8293;
  color: #ffffff;
}
.btn-secondary.btn-score {
  background-color: #4c8293;
  border-color: #4c8293;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  cursor: default;
}
@media only screen and (max-width: 767px) {
  .btn.btn-secondary.btn-score {
    line-height: 100%;
  }
  .btn.btn-secondary.btn-zoomin {
    height: 28px;
  }
}
.view-button .btn.btn-secondary:hover,
.view-button .btn.btn-secondary:focus {
  box-shadow: none;
}

.marker-icon--station {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
}
.marker-icon--station:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -13px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top-color: blue;
}
.marker-icon--station:hover,
.marker-icon--station:focus {
  background-color: skyblue;
}
.marker-icon--station:hover:before,
.marker-icon--station:focus:before {
  border-top-color: skyblue;
}
