.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

#where-chart{
    height:360px;
    width:100%;
}

#wheretitle{
    padding-bottom:10px;
}

#header{
    padding-bottom:0px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
}

.colheight{
    height:450px;
}

.removepadding {
    padding-right:0px;
    padding-left:0px;
}
    
 .where-chart {
    width:100%;
 }
 
 .where-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }
 
.hdx-3w-info {
	padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.general-info {
	padding:5px;
    background-color:#E6E6FA;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
	width:450px;
	height:200px;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 34px;
  height: 34px;
}

.carousel-indicators {
    left: 75%;
    width: 40%;
}

.table-dashboard > thead > tr > th:nth-child(2),
.table-dashboard > tbody > tr > th:nth-child(2),
.table-dashboard > tfoot > tr > th:nth-child(2),
.table-dashboard > thead > tr > td:nth-child(2),
.table-dashboard > tbody > tr > td:nth-child(2),
.table-dashboard > tfoot > tr > td:nth-child(2) {
  width: 200px;
}

.table-dashboard > tbody > tr {
	cursor:pointer;
}

a:hover {
 cursor:pointer;
}










