/* header styles*/
.navbar-brand--logo {
  padding-top: 3px;
  padding-left: 10px;
}
.navbar-brand--logo-img {
  height: 45px;
}
.logo {
  float: left;
  margin-right: 15px;
  width: 25px;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger {
  color: red;
  background-color: transparent;
  border-color: transparent;
}
.btn-outline-danger:hover,
.btn-outline-danger:focus {
  border-color: currentColor;
}

.navbar--item {
  margin: 0 7px;
}

.navbar .active > a:hover,
.navbar .active > a:focus,
.navbar .active > a {
  color: #ffffff;
  background-color: #737373;
}

.navbar-right {
  margin-right: 10px;
  margin-top: 8px;
}
@media only screen and (max-width: 1200px) {
  .navbar-right {
    margin-right: 0;
    margin-top: 0;
  }
}
.navbar-left {
  margin-right: 15px;
  margin-top: 8px;
}

@media only screen and (max-width: 1200px) {
  .navbar-left {
    margin-right: 0;
  }
}
.nav > li > a {
  padding: 6px 10px;
}
.export-items li {
  padding: 0 14px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: auto;
  margin-top: -1px;
  right: 100%;
}

@media only screen and (max-width: 1200px) {
  .dropdown-submenu .dropdown-menu {
    border-radius: 0;
    border: none;
    border-top: 1px solid #eeeeee;
    margin-top: 0;
    margin-left: 3%;
    left: 0;
    position: relative;
    width: 100%;
  }

  .dropdown-menu.export-items,
  .dropdown-menu.country-items {
    border: none;
    border-radius: 0;
    width: 100%;
  }

  .dropdown-submenu .dropdown-menu ul {
    margin-top: 5px;
    left: -10px;
    position: relative;
  }
}
.export-icon-container {
  float: left;
  margin-right: 7px;
  margin-top: 2px;
  width: auto;
  height: 18px;
}
.export-icon {
  height: 100%;
}
.export-btn-arrow {
  margin-left: 20px;
}
.menu-arrow {
  float: left;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: -10px;
}

.navbar-toggler {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDAsIDAsIDAsIDAuNSknIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+");
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #eeeeee;
  height: 38px;
  margin-bottom: 3px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: thin dotted #737373;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: #eeeeee;
}

@media only screen and (min-width: 1200px) {
  .navbar-toggler {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .button-nav {
    display: none;
  }
}

#header .dropdown-menu {
  border: 2px solid #eeeeee;
  margin: 0;
  padding: 0;
  width: auto;
  top: 30px;
}
#header .dropdown-menu li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
#header .dropdown-menu.export-items li a {
  padding: 5px 15px;
}
#header .dropdown-menu.export-items li a:hover {
  background: #737373;
  color: #ffffff;
}
#header .navbar-top-links .dropdown-toggle {
  background: none;
  color: #737373;
  padding: 6px 15px;
  height: 32px;
  line-height: 20px;
  text-align: center;
  float: left;
}
@media only screen and (max-width: 1200px) {
  #header .navbar-top-links .dropdown-toggle {
    line-height: 175%;
  }
  #header .navbar-top-links {
    clear: both;
    width: 100%;
  }
}
#header .navbar-top-links .dropdown-toggle:hover {
  background: #737373;
  color: #ffffff;
}
#header .dropdown-menu.export-items a {
  color: #000000;
  font-size: 13px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .navbar-right {
    margin-right: 0;
    margin-top: 8px;
  }
  #header .navbar-top-links .dropdown-toggle {
    padding: 6px 5px;
    height: 32px;
    line-height: 20px;
    text-align: center;
  }
  .nav > li > a {
    padding: 6px 5px;
  }
  .export-btn-arrow {
    margin-left: 0;
    margin-right: 5px;
  }
}
