<nav id="header" class="navbar bg-white navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-brand--logo" href="/#!/">
        <img
          src="modules/core/img/510logo-new.png"
          class="navbar-brand--logo-img"
        />
      </a>

      <button
        type="button"
        class="navbar-btn btn btn-outline-danger text-uppercase text-danger"
        ng-click="fnOpenViewStatus()"
        ng-show="showViewStatus && viewStatusTitle && fnOpenViewStatus"
      >
        {{ viewStatusTitle }}
      </button>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#menu-buttons"
        aria-controls="menu-buttons"
        aria-expanded="false"
        aria-label="{{ 'Toggle navigation' | translate }}"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div id="menu-buttons" aria-expanded="false" class="button-nav">
      <ul class="nav navbar-nav navbar-left">
        <li
          ng-class="['navbar--item', { 'active': (activeSection === 'CRA') }]"
        >
          <a ng-href="#!/community_risk" class="text-uppercase">
            {{ "COMMUNITY_RISK" | translate }}
          </a>
        </li>
        <li
          ng-class="['navbar--item', { 'active': (activeSection === 'IDB') }]"
        >
          <a ng-href="#!/impact_database" class="text-uppercase">
            {{ "IMPACT_DATABASE" | translate }}
          </a>
        </li>
        <li ng-class="['navbar--item', { 'active': (activeSection === 'PI') }]">
          <a ng-href="#!/priority_index" class="text-uppercase">
            {{ "PRIORITY_INDEX" | translate }}
          </a>
        </li>
        <li
          ng-if="enableFbf"
          ng-class="['navbar--item', { 'active': (activeSection === 'FBF') }]"
        >
          <a ng-href="#!/fbf" class="text-uppercase">
            {{ "FBF" | translate }}
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown navbar--item" ng-show="showShareExport">
          <a
            href="#"
            class="dropdown-toggle text-uppercase"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ "EXPORT" | translate }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-show="fnShareCountryUrl">
              <a
                href=""
                role="button"
                aria-haspopup="true"
                ng-click="fnShareCountryUrl()"
              >
                {{ "share_country_url" | translate }}
              </a>
            </li>
            <li ng-show="fnShareUrl">
              <a
                href=""
                role="button"
                aria-haspopup="true"
                ng-click="fnShareUrl()"
              >
                {{ "share_url" | translate }}
              </a>
            </li>
            <li
              role="separator"
              class="divider"
              ng-show="fnExportCsv || fnExportGeojson || fnExportPdf"
            ></li>
            <li ng-show="fnExportCsv">
              <a
                href=""
                role="button"
                aria-haspopup="true"
                ng-click="fnExportCsv()"
              >
                {{ "export_csv" | translate }}
              </a>
            </li>
            <li ng-show="fnExportGeojson">
              <a
                href=""
                role="button"
                aria-haspopup="true"
                ng-click="fnExportGeojson()"
              >
                {{ "export_geojson" | translate }}
              </a>
            </li>
            <li ng-show="fnExportPdf">
              <a
                href=""
                role="button"
                aria-haspopup="true"
                ng-click="fnExportPdf()"
              >
                {{ "export_pdf" | translate }}
              </a>
            </li>
            <li
              role="separator"
              class="divider"
              ng-show="fnSignupMailing || fnJoinWhatsapp"
            ></li>
            <li ng-show="fnSignupMailing">
              <a
                href=""
                role="button"
                aria-haspopup="true"
                ng-click="fnSignupMailing()"
              >
                {{ "signup_mailing" | translate }}
              </a>
            </li>
            <li ng-show="fnJoinWhatsapp" class="li-disabled" id="join-whatsapp">
              <a
                href=""
                role="button"
                aria-haspopup="true"
                ng-click="fnJoinWhatsapp()"
              >
                {{ "join_whatsapp" | translate }}
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown navbar--item" ng-show="showHelp">
          <a
            href="#"
            class="dropdown-toggle text-uppercase"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ "HOW_IT_WORKS" | translate }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ng-href="#!/#about">
                {{ "about_CRA" | translate }}
              </a>
            </li>
            <li>
              <a ng-href="#!/#walkthrough_{{ viewType }}">
                {{ "TUTORIAL" | translate }}
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a
                ng-href="https://github.com/rodekruis/CommunityRisk"
                target="_blank"
              >
                GitHub: CommunityRisk
              </a>
            </li>
          </ul>
        </li>
        <li class="navbar--item" ng-if="showLogin">
          <a ng-href="#!/signin" ng-if="!isLoggedIn" class="text-uppercase">
            {{ "SIGN_IN" | translate }}
          </a>
          <a ng-href="/auth/signout" ng-if="isLoggedIn" class="text-uppercase">
            {{ "SIGN_OUT" | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
