<section class="section-expand" data-ng-controller="HomeController">
<!--<leaflet heightresize id='homeMap' center="center" defaults="defaults" layers="layers"></leaflet>
<div class="logo">
    <center><img class="Absolute-Center" ng-src='modules/core/img/comprof_landing.png' /></center>
</div>-->
<!--
<div class="image">

    <img style="min-width:100%; min-height:100%" ng-src='modules/core/img/comprof_landing.png' />
      
    <div class="landing-block">
	
		<h3><b>Welcome to the Community Profiles prototype for the Philippines</b></h3>
		<hr>
		<div class="row">
			<div class ="col-md-8">
				<ul>
					<li>The <i>Community profiling</i> project aims to profile all communities in the world, but pilots with the Philippines.</li>
					<li>It does so by gathering and integrating all relevant data sources available: open or closed.</li>
					<li>These data are preferably on the deepest geographical or administrative level possible: the community level.</li>
					<li>The data include indicators ranging from hazards exposure to socio-ecomomic status to infrastructure.</li>
					<li>Together these indicators form a resilience or risk profile of a community.</li>
					<li>The data-preparedness that is created by building up this database saves invaluable time when a disaster strikes. </li>
					<li>Moreover, the resilience scores make communities comparable to each other, enabling decision-makers to pick priority areas.</li>
				</ul>
				<br>
				<a href ="#!/dashboards/5724a3e6af4258443e0f9bc6/profiles_philippines" class="btn">Go to the Community Profiling dashboard for the Philippines</a>
			</div>
			<div class ="col-md-4">
				<img ng-src='modules/core/img/comprof_screenshot.png' />
			</div>
		</div>
	</div>
    
</div>
-->


<section id="tophome" class="slideshow js-fullheight fluid-container" style="background-image: url(modules/core/img/comprof_landing.png); background-repeat: no-repeat">
    <div class="slideshow-container limiter pin-top pin-bottom clearfix" >
        <div class="z1 slideshow-text pad4y col-md-5 prose prose-big dark">
            <h2 class="fancy">
				<span class="timer" data-speed="2000" data-to="41912"></span>
				<br/>
                communities profiled
			</h2>

            <div class="cta col-md-12 clearfix pad0x">
                <div class="col-xs-6 hide-mobile pad0x">
					<a href="#!/dashboards/5724a3e6af4258443e0f9bc6/profiles_philippines" class="col-xs-11 button white ">Go to prototype</a>
				</div>
                <div class="col-xs-6 pad0x">
                    <a href="#!/#walkthrough" class="col-xs-11 button stroke pad0x">How it works</a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="isopad">
                <img src="modules/core/img/comprof_screenshot.png" style="width: 75%" class="col-md-12">
            </div>
        </div>
    </div>
</section>
<span class="scroll" id="about"></span>
<section class="white about">
    <div class="container pad0x">
        <div class="col-md-10 col-md-offset-1 pad0x">
            <h2>About Community Profiles</h2>

            <div class="hazard block">
                <div class="icon col-md-2"><img src="/static/img/hazard.svg"
                                                onerror="this.onerror=null; this.src='image.png'">
                </div>
                <div class="col-md-10 pad0x">
                    Humanitarian organizations cannot help all out of their scarce resources, when a disaster relief or disaster
					risk-reduction program is carried out. Therefore they try to find and target those most in need. This beneficiary
					selection is currently a slow and possibly subjective process, largely because of a lack of data and the tools to 
					interpret them.<br/>
					This solution aims to fill this information gap by finding and integrating all relevant open or closed data sources 
					on a detailed geographical level, on indicators ranging from hazard exposure to vulnerability to coping capacity. 
					Having these data together and easily accessible saves invaluable time when a disaster strikes. Furthermore, the 
					indicators are combined into index scores, enabling decision-makers to compare communities, thereby contributing to 
					the process of beneficiary selection.
                </div>
            </div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="/static/img/globe.svg"
                                                onerror="this.onerror=null; this.src='image.png'">
                </div>
                <div class="col-md-8 pad0x">
                    <strong>Global scope</strong><br/>
                    The Global Healthsites Mapping Project is an initiative to create an online map of every health
                    facility in the world and make the details of each location easily accessible.
                </div>
            </div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="/static/img/open-data.svg"
                                                onerror="this.onerror=null; this.src='image.png'"></div>
                <div class="col-md-8 pad0x">
                    <strong>Open data collaboration</strong><br/>
                    Through collaborations with users, trusted partners and OpenStreepMap we will capture and validate
                    the location and contact details of every facility and make this data freely available under an Open
                    Data License (ODBL)'
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="/static/img/accessible.svg"
                                                onerror="this.onerror=null; this.src='image.png'"></div>
                <div class="col-md-8 pad0x">
                    <strong>Accessible</strong><br/>
                    We will make the data accessible over the Internet through an API and other formats such as GeoJSON,
                    Shape files, KML, CSV
                </div>
            </div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="/static/img/location.svg"
                                                onerror="this.onerror=null; this.src='image.png'"></div>
                <div class="col-md-8 pad0x">
                    <strong>Focus on health care location data</strong><br/>
                    Our design philosophy is the long term curation and validation of health care location data. The
                    healthsites.io map will enable users to discover what healthcare facilities exist at any global
                    location and the associated services and resources.
                </div>
            </div>
        </div>
    </div>
</section>
<span class="scroll" id="walkthrough"></span>
<section class="walkthrough">
    <div class="container">
        <h2>Community Profiles: walkthrough</h2>

        <div class="main-img">
            <ul id="slider">
                <li><img src="modules/core/img/demo_slide/Slide1.png" style="width: 100%"/></li>
                <li><img src="modules/core/img/demo_slide/Slide2.png" style="width: 100%"/></li>
                <li><img src="modules/core/img/demo_slide/Slide3.png" style="width: 100%"/></li>
                <li><img src="modules/core/img/demo_slide/Slide4.png" style="width: 100%"/></li>
                <li><img src="modules/core/img/demo_slide/Slide5.png" style="width: 100%"/></li>
                <li><img src="modules/core/img/demo_slide/Slide6.png" style="width: 100%"/></li>
            </ul>
        </div>
        <div class="steps">

        </div>
    </div>
</section>
<!--
<span class="scroll" id="partners"></span>
<section class="partners">
    <div class="container">
        <h3>Partners</h3>
        <ul class="partners-list">
            <li><a href="http://healthcareindanger.org/hcid-project/" target="_blank"><img
                    src="/static/img/hcid-logo.png"/></a></li>
            <li><a href="https://www.icrc.org/" target="_blank"><img src="/static/img/icrc-logo.png"/></a></li>
            <li><a href="https://www.ihf-fih.org/" target="_blank"><img src="/static/img/ihf-logo.png"/></a></li>
            <li><a href="https://hotosm.org/" target="_blank"><img src="/static/img/hot-logo.png"/></a></li>
            <li><a href="https://www.msf.org/" target="_blank"><img src="/static/img/msf-logo.png"/></a></li>
        </ul>
    </div>
</section>
-->


</section>