<section class="section-expand" data-ng-controller="HomeController">
<!--<leaflet heightresize id='homeMap' center="center" defaults="defaults" layers="layers"></leaflet>
<div class="logo">
    <center><img class="Absolute-Center" ng-src='modules/core/img/comprof_landing.png' /></center>
</div>-->
<div class="image">

    <img style="min-width:100%; min-height:100%" ng-src='modules/core/img/comprof_landing.png' />
      
    <div class="landing-block">
		<h3><b>Welcome to the Community Profiles prototype</b></h2><hr>
		<h4>
			This project aims to ... (blablabla)<br>
			...<br>
			...<br>
			...<br>
			...<br>
			...<br>
			...<br>
			...<br>
			...<br>
			...<br>
			...<br>
			...<br>
		</h4><hr>
		<a href ="#!/dashboards/5724a3e6af4258443e0f9bc6/districtdashboard" class="btn">Go to the Community Profiling dashboard for the Philippines</a>
	</div>

</div>




</section>