html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  min-height: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3eee3;
}

/* Utilities / Helpers
-------------------------------------------------- */

.margin-t-8 {
  margin-top: 8px !important;
}

.no-padding {
  padding: 0 !important;
}

.padding-t-8 {
  padding-top: 8px !important;
}

.padding-l-8 {
  padding-left: 8px !important;
}

/* Colors */
/* Colors - Typography */
.text-highlight {
  color: #a2d0d0;
}
.text-dark {
  color: #444444;
}

/* Colors - Backgrounds */
.bg-white {
  background-color: #ffffff;
}

.border-top {
  border-top: 1px solid;
}

.border-light {
  border-color: #e5e5e5;
}

.debug {
  margin: 1rem 0;
  padding: 1rem;
  background-color: lightgoldenrodyellow;
  outline: 2px dashed hotpink;
}

/* Reserved class-names:
   These are used by (external) libraries.
   They have JS-functionality, so they shouldn't be styled.
   Add styling classes to these elements when needed.

   - .total-count
   - .filter-count

-------------------------------------------------- */
