body {
  background: #f3eee3;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}

.section-expand {
  height: 100%;
  min-height: 100%;
}

.page-header {
  padding-top: 0px;
}

/* Base candidates
-------------------------------------------------- */
.pad0x {
  padding-left: 0;
  padding-right: 0;
}

.pad10x {
  padding-left: 20px;
  padding-right: 20px;
}

.scroll {
  clear: both;
  display: block;
  height: 53px;
  margin-top: -53px;
}

input[type="text"].transparent,
input[type="text"].transparent:active,
input[type="text"].transparent:focus,
input[type="text"].transparent:hover {
  background: transparent;
}

#tophome {
  padding-top: 53px;
  padding-bottom: 72px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  min-height: 600px;
}

/* About
-------------------------------------------------- */
.about {
  font-family: "Raleway", sans-serif;
  padding: 85px 0;
  font-size: 16px;
  line-height: 24px;
}
.about h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}
.about .icon {
  text-align: right;
}
.about .block {
  margin-bottom: 20px;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .about {
    padding: 40px 0;
  }
  .about .block,
  .about .icon {
    text-align: center;
  }
  .about .block {
    margin-bottom: 40px;
  }
  .about .icon {
    margin-bottom: 20px;
  }
}

/* Lifecycle
-------------------------------------------------- */
.walkthrough {
  padding: 0px 0 100px;
  text-align: center;
}
.walkthrough h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-weight: 700;
}
.rhino-item img {
  max-width: 100%;
}

.slider {
  width: 100%;
  /*IE bugfix*/
  padding: 0;
  margin: 0;
}

.slider li {
  list-style: none;
}

.slick-slide img {
  margin: 0 auto;
  max-width: 100%;
}

.slick-prev,
.slick-next {
  z-index: 10;
  width: 21px;
  height: 33px;
  display: block;
  text-indent: -999em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  top: 50%;
  position: absolute;
  border: none;
  overflow: hidden;
  color: #4c8293;
}

.slick-prev {
  left: 2%;
  background: url(/modules/core/img/prev.png) no-repeat;
}

.slick-next {
  right: 2%;
  background: url(/modules/core/img/next.png) no-repeat;
}

.slick-disabled {
  visibility: hidden; /* Only hide, as js sets inline style of 'display' */
}

.slick-dots {
  position: absolute;
  top: 0px;
  margin: 0 auto 0 auto;
  z-index: 3;
  background: #c8c5c2;
  padding: 0;
  height: 4px;
}

.slick-dots:before,
.slick-dots:after {
  position: absolute;
  display: block;
  left: -16px;
  content: " ";
  width: 16px;
  height: 26px;
}

.slick-dots:after {
  left: auto;
  right: -16px;
  background-position: -240px 0;
}

.slick-dots li {
  float: left;
  display: inline;
  margin: -19px 15px 0;
}

.slick-dots li:first-child {
  margin-left: 0;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots li button {
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  background: #c8c5c2;
  font-size: 16px;
  text-align: center;
  padding: 0;
  color: #3c4c57;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 50%;
  border: none;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  color: #fff;
  background: #4c8293;
}

.slick-dots li.slick-active button {
  color: #fff;
  background: #4c8293;
}

@media only screen and (max-width: 600px) {
  .slick-dots li {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -14px;
  }

  .slick-dots li button {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*homepage styles*/
.home-content {
  color: black;
  padding-bottom: 50px;
  padding-top: 0px;
}
.home-content h2 {
  color: #4c8293;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.home-content h3 {
  font-size: 15px;
  font-weight: bold;
}
.home-content p {
  font-size: 12px;
}

.title-icon {
  margin-right: 5px;
}
.image-icon {
  margin-top: -7px;
  width: 20px;
}

.link-button,
.link-button:visited {
  background: #4c8293;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 1;
  padding: 5px 20px;
  text-align: center;
  font-weight: bold;
}
.link-button:hover,
.link-button:focus {
  background: #125083;
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}

.hdx-3w-info {
  float: left;
  padding: 5px;
  background-color: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.leaflet-clickable:hover {
  stroke-width: 3px;
  stroke: black;
}

.caps {
  text-transform: uppercase;
}

.text-highlight {
  color: #a2d0d0;
}
