.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
app/tests/coverage/
.bower-*/
.idea/
config/secrets.json
config/cert/*.pem
config/cert/.rnd
config/cert/*.cer
config/cert/*.cert
config/cert/*.key
config/cert/*.pfx
config/cert/*.ca
*.komodoproject
node_modules
public/lib/
public/build/bower/
public/dist/
data/private/
postgres_scripts/old/
