# Temporary files:
.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
.bower-*/
.idea/
*.komodoproject

# Private/secret files:
config/secrets.json
config/cert/*.pem
config/cert/.rnd
config/cert/*.cer
config/cert/*.cert
config/cert/*.key
config/cert/*.pfx
config/cert/*.ca
data/private/

# External/third-party/vendor code:
node_modules
public/lib/
public/build/bower/

# Generated code:
public/dist/

# Local development:
postgres_scripts/old/
