<section class="section-expand" data-ng-controller="DistrictDashboardsController" data-ng-init="initiate()">
	
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">

		<div class="navbar-header">
			<a class="navbar-brand" href="/#!/">
				<img src="modules/dashboards/img/logo.svg" class="logo">
				Community Profiles <span class="title-hightlight">Dashboard</span>
			</a>
		</div>

		<!-- start: export nav -->
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle export-button" data-toggle="dropdown" href="#">
					<img class="export-icon" src="modules/dashboards/img/icon-download-options.svg" alt="download options">
						  Export Options
					<i class="fa fa-angle-down export-btn-arrow"></i>
				</a>
				<ul class="dropdown-menu export-items">
					<li>
						<a ng-href ="./data/{{data_input}}" target="_blank">Export (JSON)</a>
					</li>
					<li class="divider"></li>
					<li>
						<a id="download" ng-click="export_csv()">Export (CSV)</a>
					</li>
				</ul>
				<!-- /.dropdown-tasks -->
			</li>
		</ul>
		<!-- end: export nav -->
	</nav>
	<!-- end: navbar-header -->
	
	<div class="content-wrapper">
	
		<!-- start: sidebar -->
		<div class="navbar-default sidebar" role="navigation">

			<!-- start: community profiles -->
			<div class="community-profiles-wrapper">
				<div id="count-info" class="general-info">
					<div>
						<span class="community-title">{{name_selection}}</span>
					</div>
					<span class="filter-count "></span> / <span class="total-count "></span> <span style="font-size: 12px">{{subtype_selection}} selected</span>
					<a style="color: #3780bb; font-size: 12px" href="javascript:dc.filterAll();dc.redrawAll();">(Select all)</a>
				</div>
				<div class="row"></div>
				<div class='tablearea' id='general'></div>
				<div class="row"></div>
			</div>
			<!-- end: community profiles -->

			<!-- start: accordion with stats  -->
			<div id="accordion" class="indicators-panels" role="tablist" aria-multiselectable="true">
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/risk_score.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Risk Score - <span class="component-score" id="risk_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Overall composite risk score</span>
							</span>
						</a>
					</div>

					<div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="card-block" id="scores"></div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingTwo">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/vulnerability.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Vulnerability Score - <span class="component-score" id="vulnerability_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Click for vulnerability components</span>
							</span>
						</a>
					</div>
					<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="card-block" id="vulnerability">
							<!-- Vulneratibility components set up as the ones above. -->
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingThree">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/cyclone_wind.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Hazard Score - <span class="component-score" id="hazard_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Click for hazard components</span>
							</span>
						</a>
					</div>
					<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="card-block" id="hazard">
							<!-- Hazard components set up as the ones above. -->
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingThree">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/coping.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Coping Capacity Score - <span class="component-score" id="coping_capacity_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Click for coping capacity components</span>
							</span>
						</a>
					</div>
					<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="card-block" id="coping">
							<!-- Coping capacity indicators set up as the ones above. -->
						</div>
					</div>
				</div>
			</div>
			<!-- end: accordion with stats -->


		</div>
		<!-- end: sidebar -->

		<!-- start: map -->
		<div class="map-wrapper" style="position: relative">

			<div id="map-chart" style="position:absolute; width:100%; height:100%"></div> 
			
			<!-- start: zoom navigation -->
			<div class="zoom-level-nav col-md-7">
				<div class="btn-group zoom-level" role="group">
					<button id="level2" type="button" class="btn btn-secondary btn-active " ng-click="zoom_out(2)">
						<i class="fa fa-globe" aria-hidden="true"></i>
						<span class="button-label">{{country_selection}}</span>
					</button>
					<button id="level3" type="button" class="btn btn-secondary" ng-click="zoom_out(3)">
						<i class="fa fa-th-large" aria-hidden="true"></i>
						<span class="button-label">{{level2_selection}}</span>
					</button>
					<button id="level4" type="button" class="btn btn-secondary">
						<i class="fa fa-th" aria-hidden="true"></i>
						<span class="button-label">{{level3_selection}}</span>
					</button>
					<!-- <button type="button" class="btn btn-secondary" ng-click="reset()">
						<span class="button-label">Reset to all {{subtype_selection}}</span>
					</button> -->
				</div>
			</div>
			<!-- end: zoom navigation -->
			

			<!-- the above div and inline styles are only for placement -->
			<div id="mapPopup" class="map-popup" style="position:absolute;">
				<div class="popup-header">{{name_popup}}
					<button type="button" class="btn-modal" data-toggle="modal" ng-click="zoom_in()">
						<i class="fa fa-search-plus pull-right"></i>
					</button>
				</div>
				<div class="popup-score">
				  <div class="score-label">{{metric_label}}</div>
				  {{value_popup}}
				</div>
			  </div>
			  
			<!-- start: slide out tab for province selection -->
            <!-- <div class="slide-out-tab-province">
				<a class="handle" href="#"><span class="handle-label">{{subtype_selection}} Selection</span></a>
				<div class="slideout-content-wrapper">
					<h4>{{subtype_selection}}
						<span class="selected-projects">
							<span class="selected-count">5</span>
								selected
						</span>
					</h4>
					<ul class="select-options">
						<li>
							<span class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="optionsRadios" id="selectall" value="option1" checked>
									Select all
								</label>
							</span>
						</li>
						<li>
							<span class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="optionsRadios" id="diselectall" value="option1" checked>
									Deselect all
								</label>
							</span>
						</li>
					</ul>
					<div class="options-list">
						<ul>
							<li>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="list-label">Project name 1</span>
								</label>
							</li>

							<li>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="list-label">Project name 1</span>
								</label>
							</li>

							<li>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="list-label">Project name 1</span>
								</label>
							</li>

							<li>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="list-label">Project name 1</span>
								</label>
							</li>

							<li>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="list-label">Project name 1</span>
								</label>
							</li>

							<li>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="list-label">Project name 1</span>
								</label>
							</li>

							<li>
								<label class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-indicator"></span>
									<span class="list-label">Project name 1</span>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div> -->
			<!-- end: slideout tab for province selection-->

			<!-- start: slide out tab for legend -->
			<!-- <div class="slide-out-tab-legend">
				<a class="handle-legend" href="#"><span class="handle-label">Legend</span></a>
				<div class="slideout-content-wrapper">
					<h4>Legend</h4>
				</div>
			</div> -->
			<!-- end: slideout tab for legend-->


		</div>
		<!-- end: map -->

	</div>
	<!-- start: risk score modal -->
	<div id="infoModal" class="modal sidebar-modal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					</button>
					<span class="panel-header-icon">
						<img src="{{metric_icon}}">
					</span>
					<h3 class="modal-title">{{metric_label}}</h3>
				</div>
				<div class="modal-body">
					<h5><b>Year source:</b> {{metric_year}}</h5><br>
					<h5><b>Source link:</b> <a href={{metric_source}} target="_blank">{{metric_source}}</a></h5><br>
					<h5><b>Description:</b> {{metric_desc}}</h5><br>
				</div>
			</div>
		</div>
	</div>
	<!-- end: risk score modal -->

</section>



<!--
	<div class="container">
		<div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
			<div id="header" class="row">
			</div>
			<div class="row">
				<div class="col-md-7 colheight">
					<div class="flag-container">
						<div id="flag1" ng-click="level_up(2)">{{country_selection}}</div>
						<div id="flag2" ng-click="level_up(3)">{{level2_selection}}</div>
						<div id="flag3">{{level3_selection}}</div>
					</div>
					<div id="color-selection">{{subtype_selection}} currently color-coded by <b>{{metric_label}}</b></div>
					<div id="map-chart" style="width:90%; height:150%; margin-bottom: 20px"></div>
				</div>	
								
				<div class="col-md-5 colheight">
					<div class="row">
						<div id="count-info" class="general-info">
							<b> Community Profile for: </b>{{name_selection}}<br>
							{{type_selection}} with <span class="total-count "></span> {{subtype_selection}} (<span class="filter-count "></span> selected, <a href="javascript:dc.filterAll(); dc.redrawAll()">Select All</a>)
							<hr style="padding:0px; margin:5px">		
							<div class='tablearea' id='general'></div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
							<div class="carousel-inner" role="listbox" style="height: 350px">
							
								<div class="active item">
									<b style="position: relative; left: 20px">Risk score</b><hr>
									<div class='tablearea' id='scores'></div></div>    
								<div class="item">
									<b style="position: relative; left: 20px">Vulnerability</b><hr>
									<div class='tablearea' id='vulnerability'></div>
								</div>
								<div class="item">
									<b style="position: relative; left: 20px">Hazards</b><hr>
									<div class='tablearea' id='hazards'></div>
								</div>
								<div class="item">
									<b style="position: relative; left: 20px">Coping capacity</b><hr>
									<div class='tablearea' id='coping'></div>
								</div>
							</div>
							<div class="controlsBlock">
								<div class="controls">
									<a class="left carousel-control" href="#myCarousel" data-slide="prev" ng-non-bindable><span class="glyphicon glyphicon-chevron-left"><span class="sr-only">Previous</span></span></a>
									<div class="carousel-indicators">
										<li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
										<li data-target="#myCarousel" data-slide-to="1" ></li>
										<li data-target="#myCarousel" data-slide-to="2" ></li>
										<li data-target="#myCarousel" data-slide-to="3" ></li>
										<li data-target="#myCarousel" data-slide-to="4" ></li>
									</div>
									<a class="right carousel-control" href="#myCarousel" data-slide="next" ng-non-bindable><span class="glyphicon glyphicon-chevron-right"><span class="sr-only">Next</span></span></a>
								</div>
							</div>
							<hr>	
							<a style="width:48%; float:left" class="btn" ng-href ="./data/{{data_input}}" target="_blank" >Export selected data (JSON)</a>
							<a style="width:48%; float:right" class="btn" id="download" ng-click="export_csv()">Export selected data (CSV)</a>
							<br/>
							<a style="width:100%" id="upload" class="btn" href="mailto:JannisVisser@redcross.nl?subject=Data source Community Profiling">Email us if you know of a data source that should be added!</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"><b>{{metric_label}}</b></h4>
						</div>
						<div class="modal-body">
							<h5><b>Year source:</b> {{metric_year}}</h5><br>
							<h5><b>Source link:</b> <a href={{metric_source}} target="_blank">{{metric_source}}</a></h5><br>
							<h5><b>Description:</b> {{metric_desc}}</h5><br>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="ribbon4"><a class="btn" ng-click="initiate('PH')">The Philippines</a></div>
		<div id="ribbon5"<><a class="btn" ng-click="initiate('MW')">Malawi</a></div>
	</div>
	-->