<section class="section-expand" data-ng-controller="DistrictDashboardsController" data-ng-init="initiate()">
	<div class="container">
		<div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
			<div id="header" class="row">
				<div class="col-md-8">
					<div id="title"><h3>District Dashboard</h3></div>
				</div>
				<div id="count-info" class="col-md-8">
					<span class="filter-count "></span> selected out of <span class="total-count "></span> records:   
					<a href="javascript:dc.filterAll(); dc.redrawAll()">Reset All</a>
				</div>
				<div >
					<b>Jaar en maand</b><br/>
					<select id="yearselector"></select><select id="monthselector"></select>
				</div>	          
			</div>
			<div class="row">
				<div class="col-md-4 colheight">
					<b>Rode Kruis districten in Nederland</b>
					<div id="map-chart" style="width:350px; height:80%;"></div>
					
				</div>	
				
				<div class="col-md-4 colheight">
					<div class="col-xs-12 removepadding" id="row-chart">
						<b style="position: relative; left: 10px"><span>{{metric}}</span> per district</b>
					</div>       
			    </div>
				
				<div class="col-md-4 colheight">
					<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
						
						<div class="active item">
							<b style="position: relative; left: 20px">Vrijwilligersmanagement</b><hr>
							<table class="table-condensed table-dashboard table-hover" id="data-table5" ng-click="go('R2HaantalActief')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table6" ng-click="go('ALGaantalbestuursleden')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table4" ng-click="go('TotaalaantalVW')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table7" ng-click="go('GeslachtMan')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table8" ng-click="go('GeslachtVrouw')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table9" ng-click="go('LeeftijdOnder18')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table10" ng-click="go('Leeftijd18tot30')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table11" ng-click="go('Leeftijd30tot50')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table12" ng-click="go('Leeftijd50tot65')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table13" ng-click="go('Leeftijd65tot85')"></table>
						</div>
						
						<div class="item">
						  <b style="position: relative; left: 20px">Noodhulp</b><hr>
							<table class="table-condensed table-dashboard table-hover" id="data-table14" ng-click="go('NHTotaal')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table15" ng-click="go('NHBestuur')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table16" ng-click="go('NHCoordinator')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table17" ng-click="go('NHBZO')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table18" ng-click="go('NHEVH')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table19" ng-click="go('NHNHT')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table20" ng-click="go('NHOverig')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table21" ng-click="go('NHOverlap')"></table>
                        </div>                             

						<div class="item">
							<b style="position: relative; left: 20px">Fondsenwerving</b><hr>
							<table class="table-condensed table-dashboard table-hover" id="data-table22" ng-click="go('FWTotaal')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table23" ng-click="go('FWBestuur')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table24" ng-click="go('FWCoordinator')"></table>
							<hr>
							<b style="position: relative; left: 20px">Communicatie</b><hr>
							<table class="table-condensed table-dashboard table-hover" id="data-table25" ng-click="go('COMTotaal')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table26" ng-click="go('COMBestuur')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table27" ng-click="go('COMCoordinator')"></table>
						</div>
						
						<div class="item">
							<b style="position: relative; left: 20px">Respect & Hulpbereidheid</b><hr>
							<table class="table-condensed table-dashboard table-hover" id="data-table28" ng-click="go('RHTotaal')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table29" ng-click="go('RHBestuur')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table30" ng-click="go('RHCoordinator')"></table>
							<hr>
							<b style="position: relative; left: 20px">Zelfredzaamheid</b><hr>
							<table class="table-condensed table-dashboard table-hover" id="data-table31" ng-click="go('ZELFTotaal')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table32" ng-click="go('ZELFBestuur')"></table>
							<table class="table-condensed table-dashboard table-hover" id="data-table33" ng-click="go('ZELFCoordinator')"></table>
						</div>
						
						<div class="item">
							<b style="position: relative; left: 20px">Algemene districtsinformatie</b><hr>
							<table class="table-condensed table-dashboard table-hover" id="data-table2" ng-click="go('ALGaantalinwoners')"></table>									
							<table class="table-condensed table-dashboard table-hover" id="data-table3" ng-click="go('ALGaantalgemeenten')"></table>
						</div>
						
					  </div>
					  <div class="controlsBlock">
						<div class="controls">
							<a class="left carousel-control" href="#myCarousel" data-slide="prev" ng-click="go_left()" ng-non-bindable><span class="glyphicon glyphicon-chevron-left"><span class="sr-only">Previous</span></span></a>
							<div class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" ng-click="go('R2HaantalActief')" class="active" ></li>
								<li data-target="#myCarousel" data-slide-to="1" ng-click="go('NHTotaal')"></li>
								<li data-target="#myCarousel" data-slide-to="2" ng-click="go('FWTotaal')"></li>
								<li data-target="#myCarousel" data-slide-to="3" ng-click="go('RHTotaal')"></li>
								<li data-target="#myCarousel" data-slide-to="4" ng-click="go('ALGaantalinwoners')"></li>
							</div>
							<a class="right carousel-control" href="#myCarousel" data-slide="next" ng-click="go_right()" ng-non-bindable><span class="glyphicon glyphicon-chevron-right"><span class="sr-only">Next</span></span></a>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>