<section
  class="section-expand"
  data-ng-controller="EpidemicsController"
  data-ng-init="initiate()"
>
  <cr-header
    header-logo="510logo-new.png"
    header-logo2="country_code === 'MLI' ? 'mali-redcross.png' : ''"
    header-logo3="country_code === 'MLI' ? 'french-redcross.png' : ''"
    active-section="ERA"
    show-view-status="false"
    show-normal-views="false"
    show-epidemics="true"
    show-country-selector="true"
    show-share-export="true"
    fn-share-url="share_URL"
    fn-share-country-url="share_country_URL"
    fn-export-csv="export_csv"
    fn-export-geojson="export_geojson"
    fn-export-pdf="export_pdf"
    show-help="true"
    fn-about-cra="true"
    fn-about-tutorial="true"
    view-type="CRA"
    show-login="false"
    show-languages="true"
    fn-change-language="changeLanguage"
  ></cr-header>

  <div class="content-wrapper">
    <div class="zoom-level-nav-wrapper">
      <div class="zoom-level-nav map-views">
        <div class="btn-group zoom-level view-buttons" role="group">
          <button
            type="button"
            class="btn btn-tab btn-map-view active"
            style="width:42%"
            ng-click="mapShow()"
          >
            <span class="button-label">{{ "Map" | translate }}</span>
          </button>
          <button
            type="button"
            class="btn btn-tab btn-tabular"
            style="width:42%"
            ng-click="tabularShow()"
          >
            <span class="button-label">{{ "Tab" | translate }}</span>
          </button>
          <div
            class="collapse-button"
            data-toggle="collapse"
            data-target="#demo"
            aria-controls="demo"
            aria-expanded="true"
          ></div>
        </div>
        <div class="btn-group zoom-level" role="group">
          <button type="button" class="btn btn-secondary btn-score">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="button-label"
              ><strong>{{
                "metric_label" | translate: translateData()
              }}</strong></span
            >
          </button>
        </div>
        <div class="btn-group zoom-level" role="group">
          <button
            id="level1"
            type="button"
            class="btn btn-secondary btn-zoomin btn-active"
            ng-click="zoom_out(1)"
            style="width:24%"
          >
            <span class="button-label">
              {{ "levelA_selection_pre" | translate: translateData()
              }}{{ levelA_selection }}</span
            >
          </button>
          <button
            id="level2"
            type="button"
            class="btn btn-secondary"
            ng-click="zoom_out(2)"
            style="width:24%"
          >
            <span class="button-label"
              >{{ "levelB_selection_pre" | translate: translateData()
              }}{{ levelB_selection }}</span
            >
          </button>
          <button
            id="level3"
            type="button"
            class="btn btn-secondary"
            ng-click="zoom_out(3)"
            style="width:24%"
          >
            <span class="button-label"
              >{{ "levelC_selection_pre" | translate: translateData()
              }}{{ levelC_selection }}</span
            >
          </button>
          <button
            ng-if="country_code==='MLI'"
            id="level4"
            type="button"
            class="btn btn-secondary"
            ng-click="zoom_out(4)"
            style="margin-left: 1% !important; width:24%; margin-right:0px"
          >
            <span class="button-label">Aires de santé</span>
          </button>
        </div>
        <!-- </div> -->
        <!-- end: zoom navigation -->
        <!-- start: community profiles -->
        <div class="community-profiles-wrapper">
          <div id="count-info" class="general-info">
            <strong class="filter-count text-primary"></strong> /
            <strong class="total-count text-dark"></strong>
            <span style="font-size: 12px"
              >{{ subtype_selection
              }}{{ "selected" | translate: translateData }}</span
            >
            <a class="reset-button" ng-click="reset_function()">{{
              "Select_all" | translate
            }}</a>
            <button
              type="button"
              class="btn-modal"
              data-toggle="modal"
              ng-click="info('admin')"
            >
              <img
                src="modules/dashboards/img/icon-popup-new.svg"
                style="height:17px"
              />
            </button>
          </div>
        </div>
        <!-- end: community profiles -->
      </div>
    </div>

    <div
      class="navbar-default sidebar-wrapper collapse"
      role="navigation"
      id="demo"
    >
      <div>
        <!-- start: community profiles -->
        <div class="community-profiles-wrapper">
          <div class="row"></div>
          <div class="tablearea" id="general"></div>
          <div class="row"></div>
        </div>
        <!-- end: community profiles -->

        <!-- start: accordion with stats  -->
        <div
          id="accordion"
          class="indicators-panels"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="card">
            <div class="card-header level1" role="tab" id="headingThree">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                <span class="panel-header-icon">
                  <img
                    class="logo-img"
                    src="modules/dashboards/img/epidemic.svg"
                  />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "hazard_score" | translate }}
                  </span>
                  <span class="panel-header-description">{{
                    "hazard_score_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseThree"
              class="collapse in level1"
              role="tabpanel"
              aria-labelledby="headingThree"
            >
              <div class="card-block" id="era-hazard">
                <!-- Hazard components set up as the ones above. -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingTwo">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseTwo"
                aria-expanded="true"
                aria-controls="Two"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/vulnerability.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "vulnerability_score" | translate }}
                  </span>
                  <span class="panel-header-description">{{
                    "vulnerability_score_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseTwo"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingTwo"
            >
              <div class="card-block" id="era-vulnerability">
                <!-- Vulnerability components set up as the ones above. -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingFour">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/coping.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "coping_capacity_score" | translate }}
                  </span>
                  <span class="panel-header-description">{{
                    "coping_score_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseFour"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingFour"
            >
              <div class="card-block" id="era-coping_capacity">
                <!-- Coping capacity indicators set up as the ones above. -->
              </div>
            </div>
          </div>
        </div>
        <!-- end: accordion with stats -->
      </div>
    </div>
    <!-- end: sidebar -->

    <!-- start: map -->
    <div class="map-wrapper">
      <div
        id="map-chart"
        style="position:absolute; width:100%; height:100%;z-index:0"
      ></div>
      <div id="row-chart-container">
        <div class="zoom-level-nav sort-nav">
          <div class="btn-group zoom-level" role="group">
            <ul
              type="button"
              class="btn btn-secondary btn-active export-button-wrapper"
            >
              <div class="dropdown">
                <a
                  class="dropdown-toggle export-button"
                  data-toggle="dropdown"
                  href="#"
                >
                  {{ "sort_by" | translate }}
                  <i class="fa fa-angle-down export-btn-arrow"></i>
                </a>
                <ul class="dropdown-menu submenu-items">
                  <li>
                    <a
                      class="	submenu-item"
                      ng-click="sort('value')"
                      role="button"
                      >{{ "indicator_score" | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="submenu-item"
                      ng-click="sort('name')"
                      role="button"
                      >{{ "area_name" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
            </ul>
            <div
              class="btn btn-secondary btn-scroll"
              style="color:#4d799d"
              ng-click="scrollRowChart()"
            >
              {{ "scroll_top" | translate }}
            </div>
          </div>
        </div>
        <div class="tabular-wrapper" id="tabular-wrapper">
          <div id="row-chart" class="tabular"></div>
        </div>
      </div>

      <!-- the above div and inline styles are only for placement -->
      <div id="mapPopup" class="map-popup" style="position:absolute;">
        <div class="popup-header">
          {{ name_popup }}
          <button
            ng-show="topdownZoomin"
            id="zoomin_icon"
            type="button"
            class="btn-modal"
            data-toggle="modal"
            ng-click="zoom_in()"
          >
            <i class="fa fa-search-plus pull-right big-icon"></i>
          </button>
        </div>
        <div class="popup-score">
          <div class="score-label">
            {{ "metric_label" | translate: translateData }}
          </div>
          {{ value_popup }}
        </div>
      </div>
    </div>
    <!-- end: map -->
  </div>

  <!-- start: risk score modal -->
  <div id="infoModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <span class="panel-header-icon">
            <img ng-src="{{ metric_icon }}" />
          </span>
          <h2 class="h5 modal-title">
            {{ "metric_label_popup" | translate: translateData }}
          </h2>
        </div>
        <div class="modal-body">
          <p>
            <strong>{{ "year_source" | translate }}:</strong>
            <span ng-show="metric_year">{{ metric_year }}</span>
            <span class="text-muted" ng-show="!metric_year">-</span>
          </p>
          <br />
          <p>
            <strong>{{ "link_source" | translate }}:</strong>
            <a
              href="{{ metric_source }}"
              target="_blank"
              ng-show="metric_source"
            >
              {{ metric_source }}
            </a>
            <span class="text-muted" ng-show="!metric_source">-</span>
          </p>
          <br />
          <p>
            <strong>{{ "desc_source" | translate }}:</strong>
            {{ "metric_desc" | translate: translateData }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: risk score modal -->

  <div id="URLModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">
            {{ "share_url_title" | translate }}
          </h2>
        </div>
        <div class="modal-body">
          <pre><textarea rows="2"
                         id="share-url-container"
                         class="form-control">{{ shareable_URL }}</textarea></pre>
          <button
            type="button"
            ng-click="copyToClipboard('share-url-container')"
            class="btn btn-primary"
          >
            {{ "share_url_copy" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="printModal" tabindex="-1" class="modal hidden-print" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">{{ "export_pdf" | translate }}</h2>
        </div>
        <div class="modal-body">
          <p>{{ "export_pdf_howto" | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- start: IE message -->
  <div id="IEmodal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">{{ "warning" | translate }}</h2>
        </div>
        <div class="modal-body">
          <p>{{ "ie_warning" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: IE message -->
</section>
