<section
  class="section-expand"
  data-ng-controller="FbfController"
  data-ng-init="initiate('CRA')"
>
  <cr-header
    active-section="FBF"
    show-view-status="false"
    show-share-export="true"
    fn-share-url="share_URL"
    fn-share-country-url="share_country_URL"
    fn-export-csv="export_csv"
    fn-export-geojson="export_geojson"
    show-help="true"
    view-type="view_code"
  ></cr-header>

  <div class="content-wrapper">
    <div class="zoom-level-nav-wrapper">
      <div class="zoom-level-nav map-views">
        <div class="btn-group zoom-level view-buttons" role="group">
          <button
            type="button"
            class="btn btn-tab btn-map-view active"
            style="width:42%"
            ng-click="mapShow()"
          >
            <span class="button-label">{{ "Map" | translate }}</span>
          </button>
          <button
            type="button"
            class="btn btn-tab btn-tabular"
            style="width:42%"
            ng-click="tabularShow()"
          >
            <span class="button-label">{{ "Tab" | translate }}</span>
          </button>
          <div
            class="collapse-button"
            data-toggle="collapse"
            data-target="#demo"
            aria-controls="demo"
            aria-expanded="true"
          ></div>
        </div>
        <div class="btn-group zoom-level" role="group">
          <button type="button" class="btn btn-secondary btn-score">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="button-label"
              ><strong>{{
                "metric_label" | translate: translateData()
              }}</strong></span
            >
          </button>
        </div>
        <div class="btn-group zoom-level" role="group">
          <button
            id="level1"
            type="button"
            class="btn btn-secondary btn-zoomin btn-active "
            ng-click="zoom_out(1)"
          >
            <span class="button-label">{{ country_selection }}</span>
          </button>
          <button
            id="level2"
            type="button"
            class="btn btn-secondary"
            ng-click="zoom_out(2)"
          >
            <span class="button-label"
              >{{ "levelB_selection_pre" | translate: translateData()
              }}{{ levelB_selection }}</span
            >
          </button>
          <button
            id="level3"
            type="button"
            class="btn btn-secondary"
            ng-click="zoom_out(3)"
            style="margin-right:0px"
          >
            <span class="button-label"
              >{{ "levelC_selection_pre" | translate: translateData()
              }}{{ levelC_selection }}</span
            >
          </button>
        </div>
        <!-- </div> -->
        <!-- end: zoom navigation -->
        <!-- start: community profiles -->
        <div class="community-profiles-wrapper">
          <div id="count-info" class="general-info">
            <span class="filter-count "></span> /
            <span class="total-count "></span>
            <span style="font-size: 12px"
              >{{ subtype_selection
              }}{{ "selected" | translate: translateData }}</span
            >
            <a class="reset-button" ng-click="reset_function()">{{
              "Select_all" | translate
            }}</a>
            <button
              type="button"
              class="btn-modal"
              data-toggle="modal"
              ng-click="info('admin')"
            >
              <img
                src="modules/dashboards/img/icon-popup.svg"
                style="height:17px"
              />
            </button>
          </div>
        </div>
        <!-- end: community profiles -->
      </div>
    </div>

    <div
      class="navbar-default sidebar-wrapper collapse"
      role="navigation"
      id="demo"
    >
      <div class="debug">
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="prepare_glofas_stations()"
        >
          {{ "Prepare Glofas Stations" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="show_glofas_stations()"
          ng-show="stationsLayer"
        >
          {{ "Show Glofas Stations" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="hide_glofas_stations()"
          ng-show="stationsLayer"
        >
          {{ "Hide Glofas Stations" | translate }}
        </button>
      </div>

      <div>
        <!-- start: community profiles -->
        <div class="community-profiles-wrapper">
          <div class="row"></div>
          <div class="tablearea" id="general"></div>
          <div class="row"></div>
        </div>
        <!-- end: community profiles -->

        <!-- start: accordion with stats  -->
        <div
          id="accordion"
          class="indicators-panels"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="card">
            <div class="card-header level1" role="tab" id="headingOne">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/risk_score.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "risk_score" | translate }} -
                    <span class="component-score" id="risk_score_main"></span>
                    <span class="score-helptext">/10</span>
                  </span>
                  <span class="panel-header-description">{{
                    "risk_score_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>

            <div
              id="collapseOne"
              class="collapse level1 in"
              role="tabpanel"
              aria-labelledby="headingOne"
            >
              <div class="card-block" id="scores"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingThree">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/cyclone_wind.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "hazard_score" | translate }} -
                    <span class="component-score" id="hazard_score_main"></span>
                    <span class="score-helptext">/10</span>
                  </span>
                  <span class="panel-header-description">{{
                    "hazard_score_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseThree"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingThree"
            >
              <div class="card-block" id="hazard">
                <!-- Hazard components set up as the ones above. -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingTwo">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseTwo"
                aria-expanded="true"
                aria-controls="Two"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/vulnerability.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "vulnerability_score" | translate }} -
                    <span
                      class="component-score"
                      id="vulnerability_score_main"
                    ></span>
                    <span class="score-helptext">/10</span>
                  </span>
                  <span class="panel-header-description">{{
                    "vulnerability_score_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseTwo"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingTwo"
            >
              <div class="card-block" id="vulnerability">
                <!-- Vulnerability components set up as the ones above. -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingFour">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/coping.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "coping_capacity_score" | translate }} -
                    <span
                      class="component-score"
                      id="coping_capacity_score_main"
                    ></span>
                    <span class="score-helptext">/10</span>
                  </span>
                  <span class="panel-header-description">{{
                    "coping_score_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseFour"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingFour"
            >
              <div class="card-block" id="coping_capacity">
                <!-- Coping capacity indicators set up as the ones above. -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingFive">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFive"
                aria-expanded="true"
                aria-controls="collapseFive"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/other_variables.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">{{
                    "other_variables" | translate
                  }}</span>
                  <span class="panel-header-description">{{
                    "other_variables_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseFive"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingFive"
            >
              <div class="card-block" id="other"></div>
            </div>
          </div>
          <div class="card"></div>
          <div class="card" id="dpi-card">
            <div class="card-header last level1" role="tab" id="headingZero">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseZero"
                aria-expanded="true"
                aria-controls="collapseZero"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/dpi.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">{{
                    "data_preparedness_index" | translate
                  }}</span>
                  <span class="panel-header-description">{{
                    "dpi_tag" | translate
                  }}</span>
                </span>
              </a>
            </div>
            <div
              id="collapseZero"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingZero"
            >
              <div class="card-block" id="dpi"></div>
            </div>
          </div>
          <div class="card" id="raster-card">
            <div class="card-header last level1" role="tab" id="headingSix">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseSix"
                aria-expanded="true"
                aria-controls="collapseSix"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/dpi.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">Raster layers</span>
                  <span class="panel-header-description">Test example</span>
                </span>
              </a>
            </div>
            <div
              id="collapseSix"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingSix"
            >
              <div class="card-block" id="raster">
                <div class="component-section" id="section-raster">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img
                      style="height:20px"
                      src="modules/dashboards/img/density.png"
                    />
                  </div>
                  <div
                    class="col-md-9 col-sm-9 col-xs-9 component-label ng-binding ng-scope"
                    ng-click="change_raster('pop_density')"
                  >
                    Population density raster
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 no-padding">
                    <button
                      type="button"
                      class="btn-modal ng-scope"
                      data-toggle="modal"
                      ng-click="info('pop_density')"
                    >
                      <img
                        src="modules/dashboards/img/icon-popup.svg"
                        style="height:17px"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: accordion with stats -->
      </div>
    </div>
    <!-- end: sidebar -->

    <!-- start: map -->
    <div class="map-wrapper">
      <div
        id="map-chart"
        style="position:absolute; width:100%; height:100%;z-index:0"
      ></div>
      <div id="row-chart-container">
        <div class="zoom-level-nav sort-nav">
          <div class="btn-group zoom-level" role="group">
            <ul
              type="button"
              class="btn btn-secondary btn-active export-button-wrapper"
            >
              <div class="dropdown">
                <a
                  class="dropdown-toggle export-button"
                  data-toggle="dropdown"
                  href="#"
                >
                  {{ "sort_by" | translate }}
                  <i class="fa fa-angle-down export-btn-arrow"></i>
                </a>
                <ul class="dropdown-menu submenu-items">
                  <li>
                    <a
                      class="	submenu-item"
                      ng-click="sort('value')"
                      role="button"
                      >{{ "indicator_score" | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="submenu-item"
                      ng-click="sort('name')"
                      role="button"
                      >{{ "area_name" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
            </ul>
            <div
              class="btn btn-secondary btn-scroll"
              style="color:#4d799d"
              ng-click="scrollRowChart()"
            >
              {{ "scroll_top" | translate }}
            </div>
          </div>
        </div>
        <div class="tabular-wrapper" id="tabular-wrapper">
          <div id="row-chart" class="tabular"></div>
        </div>
      </div>

      <!-- the above div and inline styles are only for placement -->
      <div id="mapPopup" class="map-popup" style="position:absolute;">
        <div class="popup-header">
          {{ name_popup }}
          <button
            id="zoomin_icon"
            type="button"
            class="btn-modal"
            data-toggle="modal"
            ng-click="zoom_in()"
          >
            <i class="fa fa-search-plus pull-right big-icon"></i>
          </button>
        </div>
        <div class="popup-score">
          <div class="score-label">
            {{ "metric_label" | translate: translateData }}
          </div>
          {{ value_popup }}
        </div>
      </div>
    </div>
    <!-- end: map -->
  </div>

  <!-- start: risk score modal -->
  <div id="infoModal" tabindex="-1" class="modal sidebar-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <span class="panel-header-icon">
            <img src="{{ metric_icon }}" />
          </span>
          <h4 class="modal-title">
            {{ "metric_label_popup" | translate: translateData }}
            <!-- {{metric_label_popup}} -->
          </h4>
        </div>
        <div class="modal-body">
          <h6>
            <b>{{ "year_source" | translate }}:</b> {{ metric_year }}
          </h6>
          <br />
          <h6>
            <b>{{ "link_source" | translate }}:</b>
            <a href="{{ metric_source }}" target="_blank">{{
              metric_source
            }}</a>
          </h6>
          <br />
          <h6>
            <b>{{ "desc_source" | translate }}:</b>
            {{ "metric_desc" | translate: translateData }}
          </h6>
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- end: risk score modal -->

  <div id="URLModal" tabindex="-1" class="modal sidebar-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h4 class="modal-title">
            {{ "share_url_title" | translate }}
          </h4>
        </div>
        <div class="modal-body" style="word-break:break-all">
          <pre><a href="{{ shareable_URL }}">{{ shareable_URL }}</a></pre>
          <button
            type="button"
            ng-click="copyToClipboard(shareable_URL)"
            class="btn btn-default"
          >
            {{ "share_url_copy" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="statusModal" tabindex="-1" class="modal sidebar-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h4 class="modal-title">{{ "warning" | translate }}</h4>
        </div>
        <div class="modal-body" style="word-break:break-all">
          <p>{{ status_text }}</p>
          <button ng-click="open_DPI()">Inspect Data Preparedness Index</button>
        </div>
      </div>
    </div>
  </div>

  <!-- start: IE message -->
  <div id="IEmodal" tabindex="-1" class="modal sidebar-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h3 class="modal-title">{{ "warning" | translate }}</h3>
        </div>
        <div class="modal-body">
          <p>{{ "ie_warning" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: IE message -->
</section>
