<section
  class="section-expand"
  data-ng-controller="FbfController"
  data-ng-init="initiate()"
>
  <cr-header
    header-logo="510logo-new.png"
    active-section="FBF"
    show-view-status="false"
    show-normal-views="false"
    show-share-export="true"
    fn-share-url="share_URL"
    fn-export-csv="export_csv"
    fn-export-geojson="export_geojson"
    fn-export-pdf="export_pdf"
    fn-signup-mailing="signup_mailing"
    fn-join-whatsapp="join_whatsapp"
    show-help="true"
    fn-about-fbf="about_fbf"
    fn-about-tutorial-fbf="about_tutorial_fbf"
    fn-about-link-cra="about_link_cra"
    fn-about-link-eap="about_link_eap"
    view-type="view_code"
  ></cr-header>

  <div class="header-for-print hidden visible-print">
    <img
      src="modules/core/img/510logo-new.png"
      class="navbar-brand--logo-img"
    />
  </div>

  <div class="content-wrapper">
    <div class="zoom-level-nav-wrapper">
      <div class="zoom-level-nav map-views">
        <div
          class="btn-group zoom-level view-buttons hidden-print"
          role="group"
        >
          <button
            type="button"
            class="btn btn-tab btn-map-view active"
            ng-click="mapShow()"
          >
            <span class="button-label">{{ "Map" | translate }}</span>
          </button>
          <button
            type="button"
            class="btn btn-tab btn-tabular"
            ng-click="tabularShow()"
          >
            <span class="button-label">{{ "Tab" | translate }}</span>
          </button>
          <div
            class="collapse-button"
            data-toggle="collapse"
            data-target="#demo"
            aria-controls="demo"
            aria-expanded="true"
          ></div>
        </div>
        <div class="btn-group zoom-level" role="group">
          <ul class="btn btn-secondary btn-active dateButton">
            <div class="dropdown dateDropdown">
              <a
                class="dropdown-toggle PI-button"
                data-toggle="dropdown"
                href="#"
              >
                <strong>{{ current_prev }} ({{ date }})</strong>
                <i class="fa fa-angle-down PI-btn-arrow hidden-print"></i>
              </a>
              <ul
                class="dropdown-menu submenu-items"
                id="events"
                style="z-index:2000"
              >
                <li>
                  <a
                    class="submenu-item"
                    ng-click="change_current_prev('Current')"
                  >
                    Current Forecast</a
                  >
                </li>
                <li>
                  <a
                    class="submenu-item"
                    ng-click="change_current_prev('Previous')"
                    >Previous Forecast</a
                  >
                </li>
              </ul>
            </div>
          </ul>

          <div class="lead-time-buttons">
            <button
              title="Forecast for trigger exceedence in 3 days. Related early actions for this lead-time are..."
              type="button"
              class="btn btn-tab btn-3-day active"
              ng-click="change_lead_time('3-day')"
            >
              3-day
            </button>
            <button
              title="Forecast for trigger exceedence in 7 days. Related early actions for this lead-time are ..."
              type="button"
              class="btn btn-tab btn-7-day"
              ng-click="change_lead_time('7-day')"
            >
              7-day
            </button>
          </div>
        </div>
        <div class="btn-group zoom-level" role="group">
          <button
            id="level1"
            type="button"
            class="btn btn-secondary btn-zoomin"
            ng-click="zoom_out(1)"
          >
            <span class="button-label">{{ "Provinces" | translate }}</span>
          </button>
          <button
            id="level2"
            type="button"
            class="btn btn-secondary btn-zoomin btn-active"
            ng-click="zoom_out(2)"
          >
            <span class="button-label">{{ "Districts" | translate }}</span>
          </button>
          <button
            id="level3"
            type="button"
            class="btn btn-secondary btn-zoomin"
            ng-click="zoom_out(3)"
          >
            <span class="button-label">{{
              "Triggered wards" | translate
            }}</span>
          </button>
        </div>
        <div class="btn-group zoom-level" role="group">
          <button
            id="flood-toggle"
            type="button"
            class="btn btn-secondary btn-score-lowercase"
          >
            <span
              ng-show="!floodHidden"
              ng-click="floodHidden = !floodHidden; toggle_raster_layer('flood_extent')"
              ><i
                class="fa fa-toggle-off toggle-white"
                style="font-size:15px"
                aria-hidden="true"
              ></i>
              {{ "Show flood extent" | translate }}</span
            >
            <span
              ng-show="floodHidden"
              ng-click="floodHidden = !floodHidden; toggle_raster_layer('flood_extent')"
              ><i
                class="fa fa-toggle-on toggle-white"
                style="font-size:15px"
                aria-hidden="true"
              ></i>
              {{ "Hide flood extent" | translate }}</span
            >
            <img
              class="hidden-print"
              src="modules/dashboards/img/icon-popup-new-white.svg"
              style="height:17px; color:white; float:right"
              ng-click="info('flood_extent')"
            />
          </button>
          <button
            id="stations-toggle"
            type="button"
            class="btn btn-secondary btn-score-lowercase"
          >
            <span
              ng-show="!glofasHidden"
              ng-click="glofasHidden=!glofasHidden; toggle_poi_layer('poi_glofas')"
              ><i class="fa fa-toggle-off toggle-white" aria-hidden="true"></i>
              {{ "Show WARMA stations" | translate }}</span
            >
            <span
              ng-show="glofasHidden"
              ng-click="glofasHidden=!glofasHidden; toggle_poi_layer('poi_glofas')"
              ><i class="fa fa-toggle-on toggle-white" aria-hidden="true"></i>
              {{ "Hide WARMA stations" | translate }}</span
            >
            <img
              class="hidden-print"
              src="modules/dashboards/img/icon-popup-new-white.svg"
              style="height:17px; color:white; float:right"
              ng-click="info('poi_glofas')"
            />
          </button>
        </div>
        <!-- </div> -->
        <!-- end: zoom navigation -->
        <!-- start: community profiles -->
        <div class="community-profiles-wrapper" style="margin-bottom:-10px">
          <div class="tablearea">
            <div class="row profile-item" id="section-fc_trigger2">
              <div class="col col-md-1 col-sm-1 col-xs-1">
                <img
                  class="community-icon"
                  src="modules/dashboards/img/flood.png"
                />
              </div>
              <div
                class="col col-md-5 col-sm-5 col-xs-5 general-component-label ng-binding ng-scope"
                ng-click="change_indicator('fc_trigger2')"
              >
                {{ "Exposed" | translate }} {{ subtype_selection }}
              </div>
              <div
                class="col col-md-5 col-sm-5 col-xs-5"
                id="count-info"
                style="width:41.6666666666%"
              >
                <span id="trigger_main"></span>
                /
                <span class="total-count"></span>
                <a class="reset-button" ng-click="reset_function()">All</a>
              </div>
              <div class="col col-md-1 col-sm-1 col-xs-1">
                <button
                  type="button"
                  class="btn-modal info-btn ng-scope"
                  data-toggle="modal"
                  ng-click="info('fc_trigger2')"
                >
                  <img
                    src="modules/dashboards/img/icon-popup-new.svg"
                    style="height:17px"
                  />
                </button>
              </div>
            </div>
            <div class="row profile-item" id="section-population_affected">
              <div class="col col-md-1 col-sm-1 col-xs-1">
                <img
                  class="community-icon"
                  src="modules/dashboards/img/affected_pop.png"
                />
              </div>
              <div
                class="col col-md-5 col-sm-5 col-xs-5 general-component-label ng-binding ng-scope"
                ng-click="change_indicator('population_affected')"
              >
                {{ "Exposed Population" | translate }}
              </div>
              <div
                class="col col-md-5 col-sm-5 col-xs-5"
                id="pop_affected_main"
              ></div>
              <div class="col col-md-1 col-sm-1 col-xs-1">
                <button
                  type="button"
                  class="btn-modal info-btn ng-scope"
                  data-toggle="modal"
                  ng-click="info('population_affected')"
                >
                  <img
                    src="modules/dashboards/img/icon-popup-new.svg"
                    style="height:17px"
                  />
                </button>
              </div>
            </div>
            <div class="row profile-item" id="section-population">
              <div class="col col-md-1 col-sm-1 col-xs-1">
                <img
                  class="community-icon"
                  src="modules/dashboards/img/population.png"
                />
              </div>
              <div
                class="col col-md-5 col-sm-5 col-xs-5 general-component-label ng-binding ng-scope"
                ng-click="change_indicator('population')"
              >
                {{ "Total Population" | translate }}
              </div>
              <div
                class="col col-md-5 col-sm-5 col-xs-5"
                id="population_main"
              ></div>
              <div class="col col-md-1 col-sm-1 col-xs-1">
                <button
                  type="button"
                  class="btn-modal info-btn ng-scope"
                  data-toggle="modal"
                  ng-click="info('population')"
                >
                  <img
                    src="modules/dashboards/img/icon-popup-new.svg"
                    style="height:17px"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="navbar-default sidebar-wrapper-fbf collapse"
      role="navigation"
      id="demo"
    >
      <button
        style="display:none"
        type="button"
        class="btn btn-default btn-sm btn-block"
        ng-click="debugHidden = !debugHidden"
      >
        <span ng-show="debugHidden">{{ "Show Debug" | translate }}</span>
        <span ng-show="!debugHidden">{{ "Hide Debug" | translate }}</span>
      </button>
      <div class="debug" ng-show="debugHidden">
        <div
          class="checkbox"
          map-state-sync
          data-map-element="map-chart"
          data-map="map"
        >
          <label>
            <input type="checkbox" name="map-state-sync" />
            {{ "Sync Map State" | translate }}
          </label>
        </div>

        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="prepare_glofas_stations()"
          ng-show="!stationsLayer"
        >
          {{ "Prepare Glofas Stations" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="show_glofas_stations()"
          ng-show="stationsLayer"
        >
          {{ "Show Glofas Stations" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="hide_glofas_stations()"
          ng-show="stationsLayer"
        >
          {{ "Hide Glofas Stations" | translate }}
        </button>

        <br />

        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="prepare_rc_locations()"
          ng-show="!rcLocationsLayer"
        >
          {{ "Prepare RC Locations" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="show_rc_locations()"
          ng-show="rcLocationsLayer"
        >
          {{ "Show RC Locations" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="hide_rc_locations()"
          ng-show="rcLocationsLayer"
        >
          {{ "Hide RC Locations" | translate }}
        </button>

        <br />

        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="add_raster_layer()"
          ng-show="!rasterLayer"
        >
          {{ "Add Raster-layer" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="show_raster_layer()"
          ng-show="rasterLayer"
        >
          {{ "Show Raster-layer" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="hide_raster_layer()"
          ng-show="rasterLayer"
        >
          {{ "Hide Raster-layer" | translate }}
        </button>

        <br />

        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="toggle_vector_layer()"
        >
          {{ "Toggle Vector-layer" | translate }}
        </button>
      </div>

      <div>
        <!-- start: community profiles -->
        <div class="community-profiles-wrapper ng-hide">
          <div class="row"></div>
          <div class="tablearea" id="general"></div>
          <div class="row"></div>
        </div>
        <!-- end: community profiles -->

        <!-- start: accordion with stats  -->
        <div
          id="accordion"
          class="indicators-panels"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="card">
            <div class="card-header level1" role="tab" id="headingImpact">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseImpact"
                aria-expanded="true"
                aria-controls="collapseImpact"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/risk_score.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">Impact & EAP</span>
                  <span class="panel-header-description"
                    >Impact indicators by EAP-section</span
                  >
                </span>
              </a>
            </div>

            <div
              id="collapseImpact"
              class="collapse level1 in"
              role="tabpanel"
              aria-labelledby="headingImpact"
            >
              <div class="impact-eap-section">
                {{ "Shelter" | translate }}
                <!-- <ul style="font-weight: normal;
                          font-size: 12px;
                          margin-bottom: 0;">
                  <li>Early Action 1</li>
                  <li>Early Action 2</li>
                </ul> -->
              </div>
              <div class="card-block" id="impact-shelter"></div>
              <div class="impact-eap-section">{{ "Access" | translate }}</div>
              <div class="card-block" id="impact-access"></div>
              <div class="impact-eap-section">{{ "WASH" | translate }}</div>
              <div class="card-block" id="impact-wash"></div>
              <div class="impact-eap-section">{{ "Health" | translate }}</div>
              <div class="card-block" id="impact-health"></div>
              <div class="impact-eap-section">
                {{ "Food Security" | translate }}
              </div>
              <div class="card-block" id="impact-food"></div>
            </div>
          </div>

          <div class="card">
            <div class="card-header level1" role="tab" id="headingActors">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseActors"
                aria-expanded="true"
                aria-controls="collapseActors"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/risk_score.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">Key Actors</span>
                  <span class="panel-header-description">
                    Information about locations and status of Key Actors
                  </span>
                </span>
              </a>
            </div>

            <div
              id="collapseActors"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingActors"
            >
              <div class="card-block" id="key-actors"></div>
            </div>
          </div>

          <div class="card">
            <div class="card-header level1" role="tab" id="headingExposure">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseExposure"
                aria-expanded="true"
                aria-controls="collapseExposure"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/risk_score.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >{{ "Original input layers" | translate }}
                  </span>
                  <span class="panel-header-description">{{
                    "Flood extents, exposure grids (not event-specific)"
                      | translate
                  }}</span>
                </span>
              </a>
            </div>

            <div
              id="collapseExposure"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingExposure"
            >
              <div class="card-block" id="exposure"></div>
            </div>
          </div>
        </div>
        <!-- end: accordion with stats -->
      </div>
    </div>
    <!-- end: sidebar -->

    <!-- start: map -->
    <div class="map-wrapper fbf">
      <div
        id="map-chart"
        style="position:absolute; width:100%; height:100%;z-index:0"
      ></div>
      <div id="row-chart-container" class="fbf">
        <div class="zoom-level-nav sort-nav hidden-print">
          <div class="btn-group zoom-level" role="group">
            <ul
              type="button"
              class="btn btn-secondary btn-active export-button-wrapper"
            >
              <div class="dropdown">
                <a
                  class="dropdown-toggle export-button"
                  data-toggle="dropdown"
                  href="#"
                >
                  {{ "sort_by" | translate }}
                  <i class="fa fa-angle-down export-btn-arrow"></i>
                </a>
                <ul class="dropdown-menu submenu-items">
                  <li>
                    <a
                      class="	submenu-item"
                      ng-click="sort('value')"
                      role="button"
                      >{{ "indicator_score" | translate }}</a
                    >
                  </li>
                  <li>
                    <a
                      class="submenu-item"
                      ng-click="sort('name')"
                      role="button"
                      >{{ "area_name" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
            </ul>
            <div
              class="btn btn-secondary btn-scroll"
              style="color:#4d799d"
              ng-click="scrollRowChart()"
            >
              {{ "scroll_top" | translate }}
            </div>
          </div>
        </div>
        <div class="tabular-wrapper" id="tabular-wrapper">
          <div id="row-chart" class="tabular"></div>
        </div>
      </div>

      <!-- the above div and inline styles are only for placement -->
      <div id="mapPopup" class="map-popup" style="position:absolute;">
        <div class="popup-header">
          {{ name_popup }}
          <button
            id="zoomin_icon"
            type="button"
            class="btn-modal"
            data-toggle="modal"
            ng-click="zoom_in()"
          >
            <i class="fa fa-search-plus pull-right big-icon"></i>
          </button>
        </div>
        <div class="popup-score">
          <div class="score-label">
            {{ "metric_label" | translate: translateData }}
          </div>
          {{ value_popup }}
        </div>
      </div>
    </div>
    <!-- end: map -->
  </div>

  <!-- start: risk score modal -->
  <div id="infoModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <span class="panel-header-icon">
            <img ng-src="{{ metric_icon }}" />
          </span>
          <h2 class="h5 modal-title">
            {{ "metric_label_popup" | translate: translateData }}
          </h2>
        </div>
        <div class="modal-body">
          <p>
            <strong>{{ "year_source" | translate }}:</strong>
            <span ng-show="metric_year">{{ metric_year }}</span>
            <span class="text-muted" ng-show="!metric_year">-</span>
          </p>
          <br />
          <p>
            <strong>{{ "link_source" | translate }}:</strong>
            <a
              href="{{ metric_source }}"
              target="_blank"
              ng-show="metric_source"
            >
              {{ metric_source }}
            </a>
            <span class="text-muted" ng-show="!metric_source">-</span>
          </p>
          <br />
          <p>
            <strong>{{ "desc_source" | translate }}:</strong>
            {{ "metric_desc" | translate: translateData }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: risk score modal -->

  <div id="URLModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">
            {{ "share_url_title" | translate }}
          </h2>
        </div>
        <div class="modal-body">
          <pre><textarea rows="2"
                         id="share-url-container"
                         class="form-control">{{ shareable_URL }}</textarea></pre>
          <button
            type="button"
            ng-click="copyToClipboard('share-url-container')"
            class="btn btn-primary"
          >
            {{ "share_url_copy" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="WhatsappModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">
            {{ "Join Whatsapp group related to current event" | translate }}
          </h2>
        </div>
        <div class="modal-body">
          <pre><textarea rows="2"
                           id="whatsapp-container"
                           class="form-control">{{ whatsapp_link }}</textarea></pre>
          <button
            type="button"
            ng-click="copyToClipboard('whatsapp-container')"
            class="btn btn-primary"
          >
            {{ "share_url_copy" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="statusModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">{{ "warning" | translate }}</h2>
        </div>
        <div class="modal-body" style="word-break:break-all">
          <p>{{ status_text }}</p>
          <button ng-click="open_DPI()">Inspect Data Preparedness Index</button>
        </div>
      </div>
    </div>
  </div>

  <div id="printModal" tabindex="-1" class="modal hidden-print" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">{{ "export_pdf" | translate }}</h2>
        </div>
        <div class="modal-body" style="word-break:break-all">
          <p>{{ "export_pdf_howto" | translate }}</p>
          <button onclick="window.print()">
            {{ "export_pdf" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- start: IE message -->
  <div id="IEmodal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">{{ "warning" | translate }}</h2>
        </div>
        <div class="modal-body">
          <p>{{ "ie_warning" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: IE message -->

  <!-- start: Mailchimp modal -->
  <div id="MailChimpModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">
            {{ "Sign up to mailing list" | translate }}
          </h2>
        </div>
        <div class="modal-body">
          <link
            href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css"
            rel="stylesheet"
            type="text/css"
          />
          <style type="text/css">
            #mc_embed_signup {
              background: #fff;
              clear: left;
              font: 14px Helvetica, Arial, sans-serif;
            }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <form
              action
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe</label>
                <input
                  type="email"
                  value=""
                  name="EMAIL"
                  class="email"
                  id="mce-EMAIL"
                  placeholder="email address"
                  required
                />
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  <input
                    id="mc-form-input"
                    type="text"
                    name
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="clear">
                  <input
                    type="submit"
                    value="Subscribe"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="button"
                    ng-click="close_signup()"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Mailchimp modal -->
</section>
