<section class="section-expand" data-ng-controller="InformGlobalController" data-ng-init="initiate()">
	
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">

		<div class="navbar-header">
			<a class="navbar-brand" href="/#!/">
				<img src="modules/dashboards/img/logo.svg" class="logo">
				<img src="modules/core/img/510white.png" class="logo">
				Community Risk Assessment <span class="title-hightlight">Toolbox</span>
			</a>
		</div>

		<!-- start: export nav -->
		<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown">
					<a href="http://www.inform-index.org" target="_blank">INFORM Home</a>
				</li>
		</ul>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle export-button" data-toggle="dropdown" href="#">
					How it works
					<i class="fa fa-angle-down export-btn-arrow"></i>
				</a>
				<ul class="dropdown-menu export-items">
					<li>
						<a class="dropdown-toggle export-button" ng-href ="#!/#walkthrough_{{view_code}}" target="_blank">Tutorial</a>
					</li>
					<li class="divider"></li>
					<li>
						<a class="dropdown-toggle export-button"  ng-href="https://github.com/rodekruis/communityprofiles" target="_blank">Github</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle export-button" data-toggle="dropdown" href="#">
					<img class="export-icon" src="modules/dashboards/img/icon-download-options.svg" alt="download options">
						  Export Options
					<i class="fa fa-angle-down export-btn-arrow"></i>
				</a>
				<ul class="dropdown-menu export-items">
					<li>
						<a ng-href ="./data/{{data_input}}" target="_blank">Export (JSON)</a>
					</li>
					<li class="divider"></li>
					<li>
						<a id="download" ng-click="export_csv()">Export (CSV)</a>
					</li>
				</ul>
				<!-- /.dropdown-tasks -->
			</li>
		</ul>
		<!-- end: export nav -->
	</nav>
	<!-- end: navbar-header -->
	
	<div class="content-wrapper">
	
		<!-- start: sidebar -->
		<div class="navbar-default sidebar" role="navigation">
			
			<!-- start: zoom navigation -->
			<div class="zoom-level-nav">
				<div class="btn-group zoom-level" role="group">
					<button style="background-color: #1a9641; color:white; width:210px;" type="button" class="btn btn-secondary">
						<i class="fa fa-tachometer" aria-hidden="true"></i>
						<span class="button-label">{{metric_label}}</span>
					</button>
					<button style="width:120px;" id="level2" type="button" class="btn btn-secondary btn-active " ng-click="zoom_out(2)">
						<i class="fa fa-globe" aria-hidden="true"></i>
						<span class="button-label">{{country_selection}}</span>
					</button>
					<!-- <button id="level3" type="button" class="btn btn-secondary" ng-click="zoom_out(3)">
						<i class="fa fa-th-large" aria-hidden="true"></i>
						<span class="button-label">{{level2_selection}}</span>
					</button>
					<button id="level4" type="button" class="btn btn-secondary">
						<i class="fa fa-th" aria-hidden="true"></i>
						<span class="button-label">{{level3_selection}}</span>
					</button> -->
				</div>
			</div>
			<!-- end: zoom navigation -->
			
			<!-- start: community profiles -->
			<div class="community-profiles-wrapper">
				<div id="count-info" class="general-info">
					<!-- <div><span class="community-title">{{name_selection}}</span></div> -->
					<span class="filter-count "></span> / <span class="total-count "></span> <span style="font-size: 12px">{{subtype_selection}} selected</span>
					<a class="reset-button" href="javascript:dc.filterAll();dc.redrawAll();">Select all</a>
				</div>
				<div class="row"></div>
				<div class='tablearea' id='general'></div>
				<div class="row"></div>
			</div>
			<!-- end: community profiles -->

			<!-- start: accordion with stats  -->
			<div id="accordion" class="indicators-panels" role="tablist" aria-multiselectable="true">
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/risk_score.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Risk Score - <span class="component-score" id="risk_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Overall composite risk score</span>
							</span>
						</a>
					</div>

					<div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="card-block" id="scores"></div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingTwo">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="Two">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/vulnerability.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Vulnerability Score - <span class="component-score" id="vulnerability_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Click for vulnerability components</span>
							</span>
						</a>
					</div>
					<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="card-block" id="vulnerability">
							<!-- Vulnerability components set up as the ones above. -->
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingThree">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/cyclone_wind.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Hazard Score - <span class="component-score" id="hazard_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Click for hazard components</span>
							</span>
						</a>
					</div>
					<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="card-block" id="hazard">
							<!-- Hazard components set up as the ones above. -->
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingFour">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
							<span class="panel-header-icon">
								<img src="modules/dashboards/img/coping.png">
							</span>
							<span class="panel-header-content">
								<span class="panel-header-title">Coping Capacity Score - <span class="component-score" id="coping_capacity_score_main"></span>
									<span class="score-helptext">/10</span>
								</span>
								<span class="panel-header-description">Click for coping capacity components</span>
							</span>
						</a>
					</div>
					<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="card-block" id="coping_capacity">
							<!-- Coping capacity indicators set up as the ones above. -->
						</div>
					</div>
				</div>
				<div class="card"></div>
			</div>
			<!-- end: accordion with stats -->


		</div>
		<!-- end: sidebar -->

		<!-- start: map -->
		<div class="map-wrapper" style="position: relative">

			<div id="map-chart" style="position:absolute; width:100%; height:100%"></div> 
			
			
			

			<!-- the above div and inline styles are only for placement -->
			<div id="mapPopup" class="map-popup" style="position:absolute;">
				<div class="popup-header">{{name_popup}}
					<button id="zoomin_icon" type="button" class="btn-modal" data-toggle="modal" ng-click="zoom_in()">
						<i class="fa fa-search-plus pull-right big-icon"></i>
					</button>
				</div>
				<div class="popup-score">
				  <div class="score-label">{{metric_label}}</div>
				  {{value_popup}}
				</div>
			  </div>


		</div>
		<!-- end: map -->

	</div>

	<!-- start: risk score modal -->
	<div id="infoModal" class="modal sidebar-modal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					</button>
					<span class="panel-header-icon">
						<img src="{{metric_icon}}">
					</span>
					<h3 class="modal-title">{{metric_label}}</h3>
				</div>
				<div class="modal-body">
					<h5><b>Year source:</b> {{metric_year}}</h5><br>
					<h5><b>Source link:</b> <a href={{metric_source}} target="_blank">{{metric_source}}</a></h5><br>
					<h5><b>Description:</b> {{metric_desc}}</h5><br>
				</div>
			</div>
		</div>
	</div>
	<!-- end: risk score modal -->
	
	<!-- start: phone device message -->
	<div class="mobile-message">
		<p>For best experience please use a tablet device, laptop or desktop computer.
			<a href="/#!/" class="btn link-button" role="button">Dashboard Homepage</a>
		</p>
	</div>
	<!-- end: phone device message -->

	<!-- start: IE message -->
	<div id="IEmodal" class="modal sidebar-modal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					</button>
					<h3 class="modal-title">Warning</h3>
				</div>
				<div class="modal-body">
					<p>This beta-version is currently best viewed in Google Chrome, and second-best in Firefox or Safari. Internet Explorer works, but has substantial interaction downsides.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end: IE message -->
	
</section>