<section
  class="section-expand"
  data-ng-controller="PriorityIndexController"
  data-ng-init="initiate('PI')"
>
  <nav id="header" class="navbar bg-white navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a
        class="navbar-brand"
        style="padding-left:10px; padding-top:3px"
        href="/#!/"
      >
        <img
          src="modules/core/img/510logo-new.png"
          style="height:45px; float:left"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#menu-buttons"
        aria-controls="menu-buttons"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div id="menu-buttons" aria-expanded="false" class="button-nav">
      <ul class="nav navbar-top-links navbar-left">
        <li class="dropdown">
          <a class="submenu-item text-uppercase" ng-href="#!/community_risk">
            {{ "COMMUNITY_RISK" | translate }}
          </a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-left">
        <li class="dropdown">
          <a class="submenu-item text-uppercase" ng-href="#!/impact_database">
            {{ "IMPACT_DATABASE" | translate }}
          </a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-left">
        <li class="dropdown" style="background:#4c8293 /*#737373*/">
          <a
            style="color:#fff"
            class="submenu-item text-uppercase"
            ng-href="#!/priority_index"
          >
            {{ "PRIORITY_INDEX" | translate }}
          </a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-left">
        <li class="dropdown">
          <a class="submenu-item text-uppercase" ng-href="#!/epidemics">
            {{ "EPIDEMICS" | translate }}
          </a>
        </li>
      </ul>

      <ul
        class="nav navbar-top-links navbar-right"
        style="display:none"
        id="language-selector"
      >
        <li class="dropdown">
          <a
            class="dropdown-toggle export-button text-uppercase"
            data-toggle="dropdown"
            href="#"
          >
            <img src="modules/core/img/LanguageIcon.svg" style="width:20px" />
            <i class="fa fa-angle-down export-btn-arrow"></i>
          </a>
          <ul class="dropdown-menu export-items">
            <li>
              <a
                class="dropdown-toggle export-button"
                ng-click="changeLanguage('en')"
                target="_blank"
                >English</a
              >
            </li>
            <li class="divider"></li>
            <li>
              <a
                class="dropdown-toggle export-button"
                ng-click="changeLanguage('es')"
                target="_blank"
                >Español</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a
            class="dropdown-toggle export-button"
            data-toggle="dropdown"
            href="#"
          >
            HOW IT WORKS
            <i class="fa fa-angle-down export-btn-arrow"></i>
          </a>
          <ul class="dropdown-menu export-items">
            <li>
              <a
                class="dropdown-toggle export-button"
                ng-href="#!/#walkthrough_{{ view_code }}"
                target="_blank"
                >{{ "about_tutorial" | translate }}</a
              >
            </li>
            <li class="divider"></li>
            <li>
              <a
                class="dropdown-toggle export-button"
                ng-href="https://data.humdata.org/dataset/philippines-typhoon-mangkhut-priority-index-forecasted-damage"
                target="_blank"
                >HDX methodology (Mangkhut)</a
              >
            </li>
            <li class="divider"></li>
            <li>
              <a
                class="dropdown-toggle export-button"
                ng-href="https://github.com/rodekruis/CommunityRisk"
                target="_blank"
                >{{ "about_github" | translate }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a
            class="dropdown-toggle export-button"
            data-toggle="dropdown"
            href="#"
          >
            EXPORT
            <i class="fa fa-angle-down export-btn-arrow"></i>
          </a>
          <ul class="dropdown-menu export-items">
            <li>
              <a ng-click="share_country_URL()">{{
                "share_country_url" | translate
              }}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="share_URL()">{{ "share_url" | translate }}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="export_csv()">{{ "export_csv" | translate }}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="export_json()">{{ "export_json" | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a
            class="dropdown-toggle export-button"
            data-toggle="dropdown"
            href="#"
          >
            COUNTRY
            <i class="fa fa-angle-down export-btn-arrow"></i>
          </a>
          <ul class="dropdown-menu submenu-items" id="country-items">
            <li>
              <a
                class="submenu-item"
                ng-click="change_country('PHL')"
                role="button"
                >Philippines</a
              >
            </li>
            <li>
              <a
                class="submenu-item"
                ng-click="change_country('NPL')"
                role="button"
                >Nepal</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="zoom-level-nav-wrapper">
      <div class="zoom-level-nav map-views">
        <div class="btn-group zoom-level view-buttons" role="group">
          <button
            type="button"
            class="btn btn-tab btn-map-view active"
            style="width:42%"
            ng-click="mapShow()"
          >
            <span class="button-label">Map</span>
          </button>
          <button
            type="button"
            class="btn btn-tab btn-tabular"
            style="width:42%"
            ng-click="tabularShow()"
          >
            <span class="button-label">Tab</span>
          </button>
          <div
            class="collapse-button"
            data-toggle="collapse"
            data-target="#demo"
            aria-expanded="true"
            aria-controls="demo"
          ></div>
        </div>
        <div class="btn-group zoom-level" role="group">
          <button
            style="background-color: #4c8293 /*#737373*/; color:white; border-color:#4c8293 /*#737373*/; width:100%;"
            type="button"
            class="btn btn-secondary"
          >
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="button-label"
              ><strong>{{ metric_label }}</strong></span
            >
          </button>
        </div>
        <!-- typhoon selector -->
        <div class="btn-group zoom-level" role="group">
          <ul
            class="btn btn-secondary btn-active PIbuttons"
            style="margin-right:2%"
          >
            <div
              class="dropdown PIdropdown"
              style="background-color: #4c8293 /*#737373*/"
            >
              <a
                class="dropdown-toggle PI-button"
                data-toggle="dropdown"
                href="#"
              >
                <strong>{{ disaster_type }}</strong>
                <i class="fa fa-angle-down PI-btn-arrow"></i>
              </a>
              <ul class="dropdown-menu submenu-items" id="disaster-type-items">
                <li>
                  <a
                    class="submenu-item"
                    ng-click="change_disaster_type('Typhoon')"
                    >Typhoons</a
                  >
                </li>
                <li>
                  <a
                    class="submenu-item"
                    ng-click="change_disaster_type('Earthquake')"
                    >Earthquakes</a
                  >
                </li>
              </ul>
            </div>
          </ul>
          <ul
            class="btn btn-secondary btn-active PIbuttons"
            style="margin-right:0%"
          >
            <div
              class="dropdown PIdropdown"
              style="background-color: #4c8293 /*#737373*/"
            >
              <a
                class="dropdown-toggle PI-button"
                data-toggle="dropdown"
                href="#"
              >
                <strong>{{ disaster_name_string }}</strong>
                <i class="fa fa-angle-down PI-btn-arrow"></i>
              </a>
              <ul
                class="dropdown-menu submenu-items"
                id="events"
                style="z-index:2000"
              ></ul>
            </div>
          </ul>
        </div>
        <div class="community-profiles-wrapper">
          <div id="count-info" class="general-info">
            <strong class="total-count text-primary"></strong>
            {{ subtype_selection }} predicted (<strong
              class="filter-count text-dark"
            ></strong>
            selected)
            <a class="reset-button" ng-click="reset_function()">Select all</a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="navbar-default sidebar-wrapper collapse"
      role="navigation"
      id="demo"
    >
      <!-- <div class="debug" style="display: block">
        <button
          type="button"
          class="btn btn-default btn-block"
          ng-click="show_tracks()"
        >
          {{ "Show track" | translate }}
        </button>
      </div> -->

      <div>
        <!-- start: accordion with stats  -->
        <div
          id="accordion"
          class="indicators-panels"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="card">
            <div class="card-header level1" role="tab" id="headingFour">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFour"
                aria-expanded="true"
                aria-controls="collapseFour"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/prediction.svg" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">Predicted Impact</span>
                  <span class="panel-header-description"
                    >Predicted damaged houses per municipality</span
                  >
                </span>
              </a>
            </div>
            <div
              id="collapseFour"
              class="collapse level1 in"
              role="tabpanel"
              aria-labelledby="headingFour"
            >
              <div class="card-block" id="predictions"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingTwo">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/cyclone_wind.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">Disaster features</span>
                  <span class="panel-header-description"
                    >Disaster features (specific for disaster event)</span
                  >
                </span>
              </a>
            </div>
            <div
              id="collapseTwo"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingTwo"
            >
              <div class="card-block" id="disaster"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingSix">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseSix"
                aria-expanded="true"
                aria-controls="collapseSix"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/vulnerability.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title"
                    >Community Risk features</span
                  >
                  <span class="panel-header-description"
                    >Relevant features from Community Risk on Exposure,
                    Vulnerability or Coping Capacity</span
                  >
                </span>
              </a>
            </div>
            <div
              id="collapseSix"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingSix"
            >
              <div class="card-block" id="cra_features"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingPoi">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapsePoi"
                aria-expanded="true"
                aria-controls="collapsePoi"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/redcross.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">Points of interest</span>
                  <span class="panel-header-description"
                    >Red Cross offices, etc.</span
                  >
                </span>
              </a>
            </div>
            <div
              id="collapsePoi"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingPoi"
            >
              <div class="card-block" id="key-actors"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header level1" role="tab" id="headingThree">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                <span class="panel-header-icon">
                  <img src="modules/dashboards/img/elevation.png" />
                </span>
                <span class="panel-header-content">
                  <span class="panel-header-title">Geographic features</span>
                  <span class="panel-header-description"
                    >Geographic features (not specific for disaster event)</span
                  >
                </span>
              </a>
            </div>
            <div
              id="collapseThree"
              class="collapse level1"
              role="tabpanel"
              aria-labelledby="headingThree"
            >
              <div class="card-block" id="geographic"></div>
            </div>
          </div>
        </div>
        <!-- end: accordion with stats -->
      </div>
      <!-- </div> -->
    </div>
    <!-- end: sidebar -->

    <!-- start: map -->
    <div class="map-wrapper">
      <div
        id="map-chart"
        style="position:absolute; width:100%; height:100%; z-index:0"
      ></div>
      <div id="row-chart-container">
        <div class="zoom-level-nav sort-nav">
          <div class="btn-group zoom-level" role="group">
            <ul
              type="button"
              class="btn btn-secondary btn-active export-button-wrapper"
            >
              <div class="dropdown">
                <a
                  class="dropdown-toggle export-button"
                  data-toggle="dropdown"
                  href="#"
                >
                  Sort by ...
                  <i class="fa fa-angle-down export-btn-arrow"></i>
                </a>
                <ul class="dropdown-menu submenu-items">
                  <li>
                    <a
                      class="	submenu-item"
                      ng-click="sort('value')"
                      role="button"
                      >Indicator Score</a
                    >
                  </li>
                  <li>
                    <a
                      class="submenu-item"
                      ng-click="sort('name')"
                      role="button"
                      >Area name</a
                    >
                  </li>
                </ul>
              </div>
            </ul>
            <div
              class="btn btn-secondary btn-scroll"
              style="color:#4d799d"
              ng-click="scrollRowChart()"
            >
              Scroll to Top
            </div>
          </div>
        </div>
        <div class="tabular-wrapper" id="tabular-wrapper">
          <div id="row-chart" class="tabular"></div>
        </div>
      </div>

      <!-- the above div and inline styles are only for placement -->
      <div id="mapPopup" class="map-popup" style="position:absolute;">
        <div class="popup-header">
          {{ name_popup }}
          <button
            id="zoomin_icon"
            type="button"
            class="btn-modal"
            data-toggle="modal"
            ng-click="zoom_in()"
          >
            <i class="fa fa-search-plus pull-right big-icon"></i>
          </button>
        </div>
        <div class="popup-score">
          <div class="score-label">{{ metric_label }}</div>
          {{ value_popup
          }}<span class="score-unit">{{ value_popup_unit }}</span>
        </div>
      </div>
    </div>
    <!-- end: map -->
  </div>

  <!-- start: risk score modal -->
  <div id="infoModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <span class="panel-header-icon">
            <img ng-src="{{ metric_icon }}" />
          </span>
          <h2 class="h5 modal-title">{{ metric_label }}</h2>
        </div>
        <div class="modal-body">
          <p>
            <strong>Description:</strong>
            {{ metric_desc }}
          </p>
          <br />
          <p>
            <strong>Link to source/info:</strong>
            <a
              href="{{ metric_source }}"
              target="_blank"
              ng-show="metric_source"
            >
              {{ metric_source }}
            </a>
            <span class="text-muted" ng-show="!metric_source">-</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: risk score modal -->

  <div id="URLModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">
            {{ "share_url_title" | translate }}
          </h2>
        </div>
        <div class="modal-body">
          <pre><textarea rows="2"
                         id="share-url-container"
                         class="form-control">{{ shareable_URL }}</textarea></pre>
          <button
            type="button"
            ng-click="copyToClipboard('share-url-container')"
            class="btn btn-primary"
          >
            {{ "share_url_copy" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- start: IE message -->
  <div id="IEmodal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </button>
          <h2 class="h5 modal-title">{{ "warning" | translate }}</h2>
        </div>
        <div class="modal-body">
          <p>
            This dashboard is currently best viewed in Google Chrome, Firefox or
            Safari. Internet Explorer works, but has interaction downsides.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: IE message -->
</section>
