<section class="section-expand" data-ng-controller="StoryboardController" id="pdf-target">
	
	<section class="slideshow js-fullheight fluid-container">		
		<img src="modules/dashboards/img/storyboards/priorityindex/background_priorityindex.png" class="home-bg">

		<div class="content-wrapper">
			
			<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="/#!/">
						<img src="modules/dashboards/img/logo.svg" class="logo">
						<img src="modules/core/img/510white.png" class="logo">
						Community Risk Assessment <span class="title-hightlight">Toolbox</span>
					</a>
				</div>
				
				<div class="container">
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					  <ul class="nav navbar-nav" id="menu-items">
						<li class="active"><a href="#intro">Home</a></li>
					  </ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>

			<!-- Section: intro -->
			<section id="intro" class="intro">
				
				<div class="slogan">
					<h2>Priority Areas for Typhoon Haima</h2>
					<h4>identified within 24 hours through innovative machine learning techniques</h4>
					<h4>Go immediately to <span class="page-scroll"><a href="#priority">Detailed Priority Area Predictions</a></span>
					<h4>Or scroll down for a step-by-step walkthrough of the approach</h4>
					<!-- <h4><button id="cmd" class="btn">Export to PDF</button></h4> -->
					<!-- </h4><button class="btn" onClick="window.print()">Print as PDF</button></h4> -->
				</div>
				<div class="page-scroll">
					<a href="#problem" class="btn btn-circle" style="margin-bottom:25%">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</section>
			<!-- /Section: intro -->
			
			<!-- <div id="last-child"></div> -->
			
			<section id="last-child" class="home-section text-center">
				<div class="heading-about">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="page-scroll">
									<a href="#intro" class="btn btn-circle">
										<i class="fa fa-angle-double-up animated"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</div>
	</div>
			
</section>