<section class="section-expand" data-ng-controller="StoryboardController">
	
	<section class="slideshow js-fullheight fluid-container">		
		<img src="modules/dashboards/img/background_priorityindex.png" class="home-bg">

		<div class="content-wrapper">
			
			<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="/#!/">
						<img src="modules/dashboards/img/logo.svg" class="logo">
						<img src="modules/core/img/510white.png" class="logo">
						Community Risk Assessment <span class="title-hightlight">Toolbox</span>
					</a>
				</div>
				
				<div class="container">
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					  <ul class="nav navbar-nav">
						<li class="active"><a href="#intro">Home</a></li>
						<li><a href="#problem">Problem</a></li>
						<li><a href="#solution">Solution</a></li>
						<li><a href="#factors">Factors</a></li>
						<li><a href="#accuracy">Accuracy</a></li>
						<li><a href="#priority">Priority Areas</a></li>
						<li><a href="#nextsteps">Next steps</a></li>
					  </ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>

			<!-- Section: intro -->
			<section id="intro" class="intro">
			
				<div class="slogan">
					<h2>Priority Areas for Typhoon Haima</h2>
					<h4>identified within 24 hours through innovative machine learning techniques</h4>
					<h4>Go immediately to <span class="page-scroll"><a href="#priority">Detailed Priority Area Predictions</a></span>
					<h4>Or scroll down for a step-by-step walkthrough of the approach</h4>
				</div>
				<div class="page-scroll">
					<a href="#problem" class="btn btn-circle">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</section>
			<!-- /Section: intro -->

			<!-- Section: about -->
			<section id="problem" class="home-section text-center" style="margin-top: 25%">
				<div class="heading-about">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="section-heading">
									<h2>The Problem</h2>
									<span class="page-scroll">
										<a href="#solution">
											<i class="fa fa-2x fa-angle-down"></i>
										</a>
									</span>
								</div>
								<div class="main-img">
									<ul class="slider">
										<li>
											<div class="section-info">
												<h3>Typhoon Haima</h3>
												<p>On Tuesday 18th October typhoon Haima made landfall on the Philippines. Haima is the 12th typhoon this year to reach the country and is of Category X, one of the strongest in the past three years. Windspeeds up to 225 kilometers per hour were recorded. </p>
												<img src="modules/dashboards/img/haima.jpg" width="90%">
											</div>
										</li>
										<li>
											<div class="section-info">
												<h3>Damage by typhoons</h3>
												<p>Typhoons cause a lot of damage, to houses, livelihoods as well as lives of course. On average, Category X typhoon cause <…></p>
												<img src="modules/dashboards/img/haima.jpg" width="90%">
											</div>
										</li>
										<li>
											<div class="section-info">
												<h3>Priority Areas</h3>
												<p>Immedidately after a typhoon hits, humanitarian organizations – including the Philippine Red Cross – get into action to assess damage and start relief operations. It is of course vital to know where to start these early assessments and operations. </p>
												<img src="modules/dashboards/img/haima.jpg" width="90%">
											</div>
										</li>
										<li>
											<div class="section-info">
												<h3>Current process</h3>
												<p>Currently it often takes up to a week to get a good overview of the spread of damage and thus of priority areas. Moreover, the process to get this overview is intransparent.</p>
												<img src="modules/dashboards/img/haima.jpg" width="90%">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Section: about -->
				

			<!-- Section: about -->
			<section id="solution" class="home-section text-center">
				<div class="heading-about">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="section-heading">
									<h2>A Data-Driven Solution</h2>
									<span class="page-scroll">
										<a href="#factors">
											<i class="fa fa-2x fa-angle-down"></i>
										</a>
									</span>
								</div>
								<div class="main-img">
									<ul class="slider">
										<li>
											<div class="section-info">
												<h3>Open Data</h3>
												<p>A world that is producing more and better data every year, gives an opportunity to contribute to this prioritization process with a data-driven solution. For example, detailed windspeed and rainfall data is available quickly after typhoons. Also detailed level on pre-disaster data, such as population, building materials and elevation is avilable.</p>
												<img src="modules/core/img/open_data.png">
											</div>
										</li>
										<li>
											<div class="section-info">
												<h3>Machine Learning models</h3>
												<p>Our model looks at historical typhoons to find a predictive relationship between damage and pre- and post-disaster indicators such as windspeed, building material type and elevation. The found relationships can subsequently be applied to predict the damage for this new typhoon as well.</p>
												<img src="modules/core/img/open_data.png">
											</div>
										</li>
										<li>
											<div class="section-info">
												<h3>Faster and more objective insight into Priority Areas</h3>
												<p>This analysis is done within 12 hours of the typhoon. This means that already after 12 hours - instead of having to wait for early assessment results - there is already detailed insight into where most damage occured and thus what priority areas are. Moreover, this analysis is completely objective and is therefore not subject to possible exaggerating of damage for by local government units to attract more aid.</p>
												<img src="modules/core/img/open_data.png">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Section: about -->

			<!-- Section: about -->
			<section id="factors" class="home-section text-center">
				<div class="heading-about">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="section-heading">
									<h2>High damage factors</h2>
									<span class="page-scroll">
										<a href="#accuracy">
											<i class="fa fa-2x fa-angle-down"></i>
										</a>
									</span>
								</div>
								<div class="main-img">
									<ul class="slider">
										<li>
											<div class="section-info">
												<h3>Underlying factors</h3>
												<p>See here an overview of the factors that play a role in the estimation of damage, and how important they are relatively.</p>
												<img src="modules/dashboards/img/feature_importance.png" width="90%">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Section: about -->

			<!-- Section: about -->
			<section id="accuracy" class="home-section text-center">
				<div class="heading-about">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="section-heading">
									<h2>Accuracy of results</h2>
									<span class="page-scroll">
										<a href="#priority">
											<i class="fa fa-2x fa-angle-down"></i>
										</a>
									</span>
								</div>
								<div class="main-img">
									<ul class="slider">
										<li>
											<div class="section-info">
												<h3>What is model accuracy?</h3>
												<p>Prediction and estimation models always go with a certain amount of uncertainty. By looking at historical typhoons we can establish real and substantial relationships between damage on the one hand and variables like windspeed and building materials on the other hand. However, there will always be certain differences in damage that we cannot explain with the variables we have available. It is good to realize though that even an imperfect estimation tells us already a lot more, than having no estimation or basing it on 'gut feeling'. It is good to have an insight into the expected accuracy of the predictions, based on previous cases.</p>
												<img src="modules/dashboards/img/risk_score.png" width="90%">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Section: about -->
				
			<!-- Section: about -->
			<section id="priority" class="home-section text-center">
				<div class="heading-about">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="section-heading">
									<h2>Priority Areas</h2>
									<span class="page-scroll">
										<a href="#nextsteps">
											<i class="fa fa-2x fa-angle-down"></i>
										</a>
									</span>
								</div>
								<iframe src="https://rodekruis.github.io/priority-index-haima-accuracy/" width="100%" height="500px"></iframe>
								<!-- <iframe src="../#!/dashboards/5906f54b66307627d5d7f884/priority_index_profile" width="100%" height="500px"></iframe> -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Section: about -->
				
			<!-- Section: about -->
			<section id="nextsteps" class="home-section text-center">
				<div class="heading-about">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="section-heading">
									<h2>Contacts & Next Steps</h2>
								</div>
								<div class="main-img">
									<ul class="slider">
										<li>
											<div class="section-info">
												<h3>Want to know more?</h3>
												<p>Contact us for questions and more information. Find blogposts at <...></p>
												<img src="modules/dashboards/img/undefined.png" width="90%">
											</div>
										</li>
										<li>
											<div class="section-info">
												<h3>Next steps</h3>
												<p>We are constantly working to improve the accuracy and the scope of this model.</p>
												<img src="modules/dashboards/img/quality.png" width="90%">
											</div>
										</li>
									</ul>
								</div>
								<div class="page-scroll">
									<a href="#intro" class="btn btn-circle">
										<i class="fa fa-angle-double-up animated"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Section: about -->

			
			
		</div>
	</div>
			
</section>