<section class="section-expand" data-ng-controller="DashboardsController" data-ng-init="findOne()">
	<div class="page-header">
		<h3>{{dashboard.title}}</h3>
		<div class="pull-right" data-ng-show="(authentication.user._id == dashboard.user._id) || _.intersection(authentication.user.roles, ['admin']).length">
			<a class="btn btn-primary" href="/#!/dashboards/{{dashboard._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div>
	<div class="container">
            <div id="header" class="row">
                <div class="col-md-8">
					<div id="title"></div>
                </div>
                <div class="col-md-1">
                </div>                            
                <div id="count-info" class="col-md-3">
                    <span class="filter-count "></span> selected out of <span class="total-count "></span> records.
                </div>                    
            </div>
            <div class="row">
                <div class="col-md-4 colheight">
                    <div class="col-xs-12 removepadding">
                        <div id="where-chart" class="where-chart"></div>                            
                    </div>
                </div>
				<div class="col-md-4 colheight">
                    <div class="col-xs-6 removepadding">
                        <div id="svgrefugeeshelped">
							<img src="img/refugeeshelped.svg" style="width:320px;"/>
							<h3 class="refugeenumber" id="numberrefugees">29500</h2>
							<h5 class="refugeenumber subtitle">Vluchtelingen geholpen*</h5>
							<span class="refugeenumber footnote">* excl. aantal vluchtelingen die een kledingpakket van de Welkom Winkel ontvangen hebben<span>
						</div>
                    </div>
                </div>
				<div class="col-md-4 colheight">
                    <div class="col-xs-6 removepadding">
                        <div id="svglogistics">
							<img src="img/logistiek.svg" style="width:360px;"/>
							<h3 class="deployments" id="deployments">95</h2>
							<h3 class="beds" id="beds"></h3>
						</div>
                    </div>                    
                </div>
            </div> 
			<div class="row">
                <div class="col-md-12">
                    <h3>Data Table</h3>
                    <table class="table table-hover" id="data-table">
                      <thead>
                        <tr class="header" id="tabletip">
                          <th>District</th>
                          <th>Activiteit</th>
                          <th>Vluchtelingen geholpen</th>
                          <th>Inzetten</th>
                          <th>Bedden</th>                     
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>			
        </div>
</section>