 <section data-ng-controller="MapsController">
      <br />
      <div translate>Select a bootstrap icon</div>
      <div class="form-group">
	   <div class="input-group">
	     <span class="input-group-btn">
	       <ui-iconpicker ng-model="iconClass"></ui-iconpicker>
	     </span>
	     <input class="form-control" type="text" ng-model="iconClass" />
	   </div>
      </div>
      <div translate>Select a awesome font icon</div>
      <div class="form-group">
	    <div class="input-group">
		  <span class="input-group-btn">
		       <ui-iconpicker groups="font-awesome" ng-model="faClass"></ui-iconpicker>
		  </span>
		 <input class="form-control" type="text" ng-model="faClass" />
	  </div>
      </div>
      <div translate>Select a relief-web font icon</div>
      <div class="form-group">
	    <div class="input-group">
		  <span class="input-group-btn">
		       <ui-iconpicker groups="relief-web" ng-model="rwClass"></ui-iconpicker>
		  </span>
		 <input class="form-control" type="text" ng-model="rwClass" />
	  </div>
      </div>
      <div translate>Select a humanitarian font icon</div>
      <div class="form-group">
	    <div class="input-group">
		  <span class="input-group-btn">
		       <ui-iconpicker groups="font-humanitarian" ng-model="fhClass"></ui-iconpicker>
		  </span>
		 <input class="form-control" type="text" ng-model="fhClass" />
	  </div>
      </div>
</section>