<section data-ng-controller="AuthenticationController">
  <div class="center-block" style="max-width: 30em; padding: 20% 15px 0;">
    <form data-ng-submit="signin()">
      <fieldset>
        <div class="form-group">
          <label for="username" translate>Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            data-ng-model="credentials.username"
            required
            minlength="4"
            autocomplete="username"
          />
        </div>
        <div class="form-group">
          <label for="password" translate>Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            data-ng-model="credentials.password"
            required
            minlength="4"
            autocomplete="current-password"
          />
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary" translate>
            Sign in
          </button>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong>{{ error }}</strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
