<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
	
	<!-- Stylesheets -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>

    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700,500,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,300,500,700' rel='stylesheet' type='text/css'>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    
	<link href="/public/modules/core/css/site.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/public/modules/core/css/profile.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/public/modules/core/css/jquery.cookiebar.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="/public/modules/core/css/home.css" rel="stylesheet" type="text/css" media="screen, projection" />


	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<section class="content">
		<section class="container-fluid">
			{% block content %}{% endblock %}
		</section>
	</section>
	<div id="ribbon1"><img class="share" src="modules/core/img/ribbon.png" width="70" height="105" alt="now in beta"/></div>
	<div id="ribbon2"><a class="btn" href="https://gitter.im/community_profiles/Lobby#" target="_blank">Give feedback!</a></div>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="https://localhost:35729/livereload.js"></script>
	{% endif %}
	
	<!-- Google Analytics Script -->
	  <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', '{{googleAnalyticsTrackingID}}', 'auto');
		ga('send', 'pageview');

	  </script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet-src.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.7/d3.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw-src.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hasher/1.2.0/hasher.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossroads/0.12.2/crossroads.min.js"></script>


	<script type="text/javascript" src="/public/js_temp/mousewheel.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/easing.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/jquery.countto.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/utilities.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/custom-functions.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/cookie-bar.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/custom-jquery.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/csrf-ajax.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/nav-bar.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/google-analytics.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/cluster-layer.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/locality-sidebar.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/map-functionality.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/_app.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/js_temp/index-page.js" charset="utf-8"></script>

	<script>
		var chart = c3.generate({
			bindto: '#chart1',
			size: {
				height: 220
			},
			bar: {
				width: 18
			},
			data: {
				x: 'x',
				y: 'percent',
				columns: [
					//the healthsites names
					['x', 'Hospitals', 'Medical clinic', 'Orthopaedic clinic'],
					//the healthsites number
					['number', 0, 0, 0],
					//the healthsites percentgage
					['percent', 0, 0, 0]
				],
				axes: {
					number: 'y2'
				},
				types: {
					percent: 'bar',
					number: 'bar'
				},
				order: 'asc',

				labels: {
					format: {
						number: function (v, id, i, j) {
							return v;
						},
					}
				},


			},
			axis: {
				rotated: true,
				x: {
					type: 'category',

				},
				y: {
					max: 1,
					tick: {
						values: [0, 0.5, 1],
						format: d3.format('%,')

					}
				}
			},
			legend: {
				show: false
			},
			color: {
				pattern: ['#b6cccc', '#f89ea1']
			}
		});

		var piechart = c3.generate({
			bindto: '#piechart',
			size: {
				height: 220
			},
			data: {
				// iris data from R
				columns: [
					['complete', 0],
					['partial', 0],
					['basic', 0],
				],
				colors: {
					complete: '#f89ea1',
					partial: '#b6cccc',
					basic: '#8698a4'
				},
				type: 'pie',
				onclick: function (d, i) {
					console.log("onclick", d, i);
				},
				onmouseover: function (d, i) {
					console.log("onmouseover", d, i);
				},
				onmouseout: function (d, i) {
					console.log("onmouseout", d, i);
				}
			}
		});
	</script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>
		$(document).ready(function () {
			var map = new MAP();
			renderCredit();
			$("#country-search-box").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: "/countries",
						dataType: 'json',
						data: {
							q: request.term
						},
						success: function (data) {
							response(data);
						}
					});
				},
				minLength: 3,
				select: function (event, ui) {
				},
				open: function () {
					$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
				},
				close: function () {
					$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
				}
			});

			
			gettingData("");
		});
	</script>
  
  
</body>

</html>